<template>
    <div class="row">
      <div class="col-md-12 mb-30">
        <div class="card card-statistics h-100">
          <div class="card-body">
            <div class="d-block d-md-flex justify-content-between">
              <div class="d-block">
                <h5 class="card-title pb-0 border-0">Listado Categoria</h5>

              <button type="button" class="btn btn-primary" v-if="buttonslist">ESPERANDO</button>
              <button type="button" class="btn btn-primary" @click="abrirModal('categoria','registrar')" v-else >AGREGAR</button>

              </div>

              <div class="d-block d-md-flex clearfix">
                  <select  class="custom-select szul" v-model="criterio">
                    <option value="name">Nombre</option>
                    <option value="description">Descripción</option>
                  </select>
                 <div class="widget-search ml-0 clearfix">
                  <input type="search" class="form-control" v-model="buscar" @keyup.enter="listarCategoria(1,buscar,criterio)" >
                  <button type="button" @click="listarCategoria(1,buscar,criterio)" class="btn btn-warning">
                    Buscar
                  </button>&nbsp;
                </div>
               </div>

             </div>
              <div class="table-responsive mt-20">
              <template v-if="arrayCategoria.length > 0">
              <table class="table table-striped table-bordered p-0">
                <thead class="alg">
                  <tr class="text-dark">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                  <tbody class="alg">
                    <tr v-for="(categoria,cont) in arrayCategoria" :key="categoria.id">
                      <td>{{ cont+1 }}</td>
                      <td v-text="categoria.name"></td>
                      <td v-text="categoria.description"></td>
                      <td>
                        <b v-if="categoria.status">
                          <i class="pr-2 fa fa-circle text-success"></i> Activo
                        </b>
                        <b v-else>
                          <i class="pr-2 fa fa-circle text-danger"></i> Inactivo
                        </b>
                      </td>
                      <td>

                        <button type="button" @click="abrirModal('categoria','actualizar',categoria)" class="btn btn-warning btn-sm" >
                          <i class="fa fa-pencil pr-1"></i>
                        </button> &nbsp;

                        <template v-if="categoria.status">
                          <button type="button" class="btn btn-danger btn-sm" @click="desactivarCategoria(categoria.id)">
                            <i class="fa fa-trash pr-1"></i>
                          </button>
                        </template>

                        <template v-else>
                          <button
                            type="button"
                            class="btn btn-info btn-sm"
                            @click="activarCategoria(categoria.id)"
                          >
                            <i class="fa fa-tag pr-1"></i>
                          </button>
                        </template>

                      </td>
                    </tr>
                  </tbody>

              </table>
              </template>
              <template v-else>
                <div class="scrollbar max-h-600">
                 <div class="chats">
                   <div class="chat-wrapper clearfix">
                      <div class="chat-avatar">
                        <img class="img-fluid avatar-small" src="images/bot.png" alt="">
                      </div>
                      <div class="chat-body p-3">
                         <p class="typewriter">Sin Registros para mostrar porfavor agregue registros ...</p>
                      </div>
                   </div>

                 </div>
                </div>
            </template>
            </div>
            <div class="sm-mt-20">
                <nav aria-label="Page navigation example">
                 <ul class="pagination justify-content-center">
                    <li class="page-item " v-if="pagination.current_page > 1">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant.</a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig.</a>
                    </li>
                  </ul>
                </nav>
            </div>
            </div>
        </div>
      </div>

      <!--Inicio del modal agregar/actualizar-->
      <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" v-text="tituloModal"></h4>
              <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form action method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      v-model="name"
                      class="form-control"
                      placeholder="Nombre de categoría"
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                  <div class="col-md-9">
                    <input
                      type="email"
                      v-model="description"
                      class="form-control"
                      placeholder="Ingrese descripción"
                    >
                  </div>
                </div>
                <div v-show="errorCategoria" class="form-group row div-error">
                  <div class="text-center text-error">
                    <div v-for="error in errorMostrarMsjCategoria" :key="error" v-text="error"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="cerrarModal()">CERRAR</button>
              <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarCategoria()">GUARDAR</button>
              <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarCategoria()" >ACTUALIZAR</button>
            </div>
          </div>
        </div>
      </div>
      <!--Fin del modal agregar/actualizar-->
  </div>

</template>

<script>
export default {
  name:'Category',
  created () {
      document.title = "Categoria";
  },

  props: ['ruta'],
  data() {
    return {
      _name_object : "",
      name: "",
      description: "",
      arrayCategoria: [],
      modal: 0,
      tituloModal: "",
      tipoAccion: 0,
      errorCategoria: 0,
      errorMostrarMsjCategoria: [],
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0
      },
      offset: 3,
      criterio: "name",
      buscar: "",
      buttonslist: false
    };
  },
  computed: {
    isActived: function() {
      return this.pagination.current_page;
    },
    pagesNumber: function() {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },
  methods: {
    listarCategoria(page,buscar,criterio) {
      let me = this;
      this.buttonslist = false;
      var url='/categoria?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;

      axios
        .get(url)
        .then(function(response) {
          var respuesta= response.data;
          me.arrayCategoria = respuesta.categories.data;
          me.pagination= respuesta.pagination;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cambiarPagina(page,buscar,criterio){
        let me = this;
        me.pagination.current_page = page;
        me.listarCategoria(page,buscar,criterio);
    },

    notification(sw, aa) {
      toastr.options.progressBar = true;
      console.log(aa);
      console.log(typeof(aa));
      switch (sw) {
        case "1": {
          iziToast.success({
            title: "Categoria",
            message: "registrada" + aa + "Exitosamente",
            position: "topRight"
          });
          break;
        }
        case "2": {
          iziToast.info({
            title: "Categoria",
            message: "modificado existosamente",
            position: "topRight"
          });
          break;
        }
      }
    },

    registrarCategoria() {
      if (this.validarCategoria()) {
        return;
      }

      let me = this;

      axios
        .post("/categoria/registrar", {
          name: this.name,
          description: this.description
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("1","alfredo");
          me.listarCategoria(1, "", "name");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    actualizarCategoria() {
      if (this.validarCategoria()) {
        return;
      }

      let me = this;

      axios
        .put("/categoria/actualizar", {
          name: this.name,
          description: this.description,
          id: this.categoria_id
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("2");
          me.listarCategoria(1, "", "name");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    activarCategoria(id) {
      swal({
        title: "activar el registro?",
        text: "Se procedera a activar la categoria",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Activar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/categoria/activar", {
              id: id
            })
            .then(function(response) {
              me.listarCategoria(1, "", "name");
              swal(
                "Activado!",
                "El registro ha sido activado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "La categoria aun esta activa", "error");
        }
      });
    },
    desactivarCategoria(id) {
      swal({
        title: "desactivar el registro?",
        text: "Se procedera a desactivar la categoria",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Desactivar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/categoria/desactivar", {
              id: id
            })
            .then(function(response) {
              me.listarCategoria(1, "", "name");
              swal(
                "Desactivado!",
                "El registro ha sido desactivado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "La categoria aun esta activa", "error");
        }
      });
    },
    validarCategoria() {
      this.errorCategoria = 0;
      this.errorMostrarMsjCategoria = [];

      if (!this.name)
        this.errorMostrarMsjCategoria.push(
          "El nombre de la categoría no puede estar vacío."
        );
      if (!this.description)
        this.errorMostrarMsjCategoria.push(
          "La descripción de la categoría no puede estar vacío."
        );

      if (this.errorMostrarMsjCategoria.length) this.errorCategoria = 1;

      return this.errorCategoria;
    },
    cerrarModal() {
      this.buttonslist = false;
      this.modal = 0;
      this.tituloModal = "";
      this.name = "";
      this.description = "";
    },
    abrirModal(modelo, accion, data = []) {
      switch (modelo) {
        case "categoria": {
          switch (accion) {
            case "registrar": {
              this.modal = 1;
              this.tituloModal = "Registrar Categoría";
              this.name = "";
              this.description = "";
              this.tipoAccion = 1;
              this.buttonslist = !this.buttonslist;
              break;
            }
            case "actualizar": {
              this.modal = 1;
              this.tituloModal = "Actualizar categoría";
              this.tipoAccion = 2;
              this.categoria_id = data["id"];
              this.name = data["name"];
              this.description = data["description"];
              break;
            }
          }
        }
      }
    }
  },
  mounted() {
    this.listarCategoria(1, this.buscar, this.criterio);
  }
};
</script>
