<template>
  <div>
    <div class="page-title">
      <div class="row">
          <div class="col-sm-6">
              <h4 class="mb-0">CALENDARIO DE ACTIVIDADES</h4>
          </div>
        </div>
    <vue-clock />
    </div>
     <div class="calendar-main mb-30">
    <div class="row">
      <div class="col-lg-3">
        <div class="row">
            <div class="col-12 sm-mb-30">
                <a href="#" data-toggle="modal" data-target="#add-category" class="btn btn-primary btn-block ripple m-t-20">
                        <i class="fa fa-plus pr-2"></i> NUEVO EVENTO
                    </a>
                <div id="external-events" class="m-t-20">
                    <br>
                    <p class="text-muted">Listado de Eventos</p>
                    <div class="external-event bg-success fc-event" data-class="bg-success">
                        <i class="fa fa-circle mr-2 vertical-middle"></i>New Theme Release
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="col-lg-9">

        <div class="col-md-12">
            <Fullcalendar @eventClick="showEvent" :plugins="calendarPlugins" :events="events"/>
        </div>

           <div class="modal" tabindex="-1" role="dialog" id="event-modal">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">NUEVO REGISTRO</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body p-20"></div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default ripple" data-dismiss="modal">CERRAR</button>
                          <button type="button" class="btn btn-success save-event ripple">CREAR REGISTRO</button>
                          <button type="button" class="btn btn-danger delete-event ripple" data-dismiss="modal">ELIMINAR</button>
                      </div>
                  </div>
              </div>
          </div>

          <div class="modal" tabindex="-1" role="dialog" id="add-category">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">AGREGAR REGISTRO</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body p-20">
                          <form>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label for="nombre_actividad" class="control-label">Nombre Actividad</label>
                                        <input
                                        type="text"
                                        v-model="newEvent.nombre_actividad"
                                        class="form-control"
                                        id="nombre_actividad"
                                        placeholder="Titulo Actividad"
                                        >
                                  </div>

                                  <div class="col-md-6">
                                      <label class="control-label">Fecha Inicio</label>
                                            <input
                                            type="date"
                                            id="f_inicio"
                                            class="form-control"
                                            v-model="newEvent.f_inicio"
                                            >
                                     </div>

                                  <div class="col-md-6">
                                      <label class="control-label">Fecha Fin</label>
                                            <input
                                            type="date"
                                            id="f_fin"
                                            class="form-control"
                                            v-model="newEvent.f_fin"
                                            >
                                    </div>

                                  <div class="col-md-6">
                                      <label class="control-label">Descripción</label>
                                        <input
                                        type="text"
                                        v-model="newEvent.description"
                                        class="form-control"
                                        placeholder="Descripcion de Actividad"
                                        >
                                  </div>

                                  <!-- <div class="col-md-6">
                                      <label class="control-label">Choose Category Color</label>
                                      <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                          <option value="success">Success</option>
                                          <option value="danger">Danger</option>
                                          <option value="info">Info</option>
                                          <option value="primary">Primary</option>
                                          <option value="warning">Warning</option>
                                      </select>
                                  </div> -->
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-danger ripple" data-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-success ripple save-category" data-dismiss="modal" @click="addNewEvent">Guardar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
 </div>

  </div>
</template>

<script>
import Fullcalendar from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";
import VueClock from '@dangvanthanh/vue-clock';

import axios from "axios";

export default {
  components: {
    Fullcalendar,
    VueClock,
  },
  data() {
    return {
      calendarPlugins: [dayGridPlugin, interactionPlugin],
      events: "",
      newEvent: {
        nombre_actividad: "",
        f_inicio: "",
        f_fin: "",
        description: ""
      },
      addingMode: true,
      indexToUpdate: ""
    };
  },
  created() {
    document.title="Calendario";
    this.getEvents();
  },
  methods: {
    addNewEvent() {
      axios
        .post("/calendario/registrar/", {
          ...this.newEvent
        })
        .then(data => {
          this.getEvents(); // update our list of events
          this.resetForm(); // clear newEvent properties (e.g. title, start_date and end_date)
        })
        .catch(err =>
          console.log("Unable to add new event!", err.response.data)
        );
    },
    showEvent(arg) {
      this.addingMode = false;
      const { id, nombre_actividad, f_inicio,f_fin,description } = this.events.find(
        event => event.id === +arg.event.id
      );
      this.indexToUpdate = id;
      this.newEvent = {
        nombre_actividad: nombre_actividad,
        f_inicio: f_inicio,
        f_fin: f_fin,
        description: description
      };
    },
    updateEvent() {
      axios
        .put("/api/calendar/" + this.indexToUpdate, {
          ...this.newEvent
        })
        .then(resp => {
          this.resetForm();
          this.getEvents();
          this.addingMode = !this.addingMode;
        })
        .catch(err =>
          console.log("Unable to update event!", err.response.data)
        );
    },
    deleteEvent() {
      axios
        .delete("/api/calendar/" + this.indexToUpdate)
        .then(resp => {
          this.resetForm();
          this.getEvents();
          this.addingMode = !this.addingMode;
        })
        .catch(err =>
          console.log("Unable to delete event!", err.response.data)
        );
    },
    getEvents() {
      axios
        .get("/calendario")
        .then(resp => (this.events = resp.data.calendario))
        .catch(err => console.log(err.response.calendario));
    },
    resetForm() {
      Object.keys(this.newEvent).forEach(key => {
        return (this.newEvent[key] = "");
      });
    }
  },
  watch: {
    indexToUpdate() {
      return this.indexToUpdate;
    }
  }
};
</script>

<style lang="css">
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

.fc-title {
  color: #fff;
}

.fc-title:hover {
  cursor: pointer;
}
</style>
