<template>
    <div class="row">
      <div class="col-md-12 mb-30">
        <div class="card card-statistics h-100">
          <div class="card-body">
            <div class="d-block d-md-flex justify-content-between">
              <div class="d-block">
                <h5 class="card-title pb-0 border-0">CAPACITACIONES</h5>

                <button type="button" class="btn btn-primary" v-if="buttonslist">ESPERANDO</button>
                <button type="button" class="btn btn-primary" @click="abrirModal('cargo','registrar')" v-else >AGREGAR</button>
                <button type="button" @click="cargarPdf()" class="btn btn-success"><i class="icon-doc"></i>&nbsp;Reporte de cargos</button>
              </div>

              <div class="d-block d-md-flex clearfix">
                  <select class="custom-select szul" v-model="criterio">
                    <option value="nombre">Nombre</option>
                  </select>
                 <div class="widget-search ml-0 clearfix">
                  <input type="search" class="form-control" v-model="buscar" @keyup.enter="listarCargo(1,buscar,criterio)" >
                  <button type="button" @click="listarCargo(1,buscar,criterio)" class="btn btn-warning">
                    Buscar
                  </button>&nbsp;
                </div>
               </div>

             </div>
              <div class="table-responsive mt-20">
              <template v-if="arrayCargo.length > 0">
              <table class="table table-striped table-bordered p-0">
                <thead class="alg">
                  <tr class="text-dark">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Unidad</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                  <tbody class="alg">
                    <tr v-for="(cargo,cont) in arrayCargo" :key="cargo.id">
                      <td>{{ cont+1 }}</td>
                      <td v-text="cargo.nombre"></td>
                      <td v-text="cargo.nombre_unidad"></td>
                      <td>
                        <b v-if="cargo.estado">
                          <i class="pr-2 fa fa-circle text-success"></i> Activo
                        </b>
                        <b v-else>
                          <i class="pr-2 fa fa-circle text-danger"></i> Inactivo
                        </b>
                      </td>
                      <td>

                        <button type="button" @click="abrirModal('cargo','actualizar',cargo)" class="btn btn-warning btn-sm" >
                          <i class="fa fa-pencil pr-1"></i>
                        </button> &nbsp;

                        <template v-if="cargo.estado">
                          <button type="button" class="btn btn-info btn-sm" @click="desactivarCargo(cargo.id)">
                            <i class="fa fa-eye pr-1"></i>
                          </button>
                        </template>

                        <template v-if="cargo.estado">
                          <button type="button" class="btn btn-danger btn-sm" @click="eliminarCargo(cargo.id)">
                            <i class="fa fa-trash pr-1"></i>
                          </button>
                        </template>

                        <template v-else>
                          <button
                            type="button"
                            class="btn btn-info btn-sm"
                            @click="activarCargo(cargo.id)">
                            <i class="fa fa-tag pr-1"></i>
                          </button>
                        </template>
                      </td>
                    </tr>
                  </tbody>

              </table>
              </template>

              <template v-else>
                <div class="scrollbar max-h-600">
                 <div class="chats">
                   <div class="chat-wrapper clearfix">
                      <div class="chat-avatar">
                        <img class="img-fluid avatar-small" src="images/asistente.png" alt="">
                      </div>
                      <div class="chat-body p-3">
                         <p class="typewriter">Sin Registros para mostrar porfavor agregue registros ...</p>
                      </div>
                   </div>
                 </div>
                </div>
              </template>

            </div>
            <div class="sm-mt-20">
                <nav aria-label="Page navigation example">
                 <ul class="pagination justify-content-center">
                    <li class="page-item " v-if="pagination.current_page > 1">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant.</a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig.</a>
                    </li>
                  </ul>
                </nav>
            </div>
            </div>
        </div>
      </div>

      <!--Inicio del modal agregar/actualizar-->
      <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" v-text="tituloModal"></h4>
              <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form action method="POST" enctype="multipart/form-data" class="form-horizontal">

                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      v-model="nombre"
                      class="form-control"
                      placeholder="Nombre Cargo"
                    >
                  </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input">Unidad (*)</label>
                    <div class="col-md-9">
                        <select class="custom-select mr-sm-2 szul" v-model="id_unidad">
                            <option value="0" disabled>Seleccione</option>
                            <option v-for="unidad in arrayUnidad" :key="unidad.id" :value="unidad.id" v-text="unidad.nombre"></option>
                        </select>
                    </div>
                </div>

                <div v-show="errorCargo" class="form-group row div-error">
                  <div class="text-center text-error">
                    <div v-for="error in errorMostrarMsjCargo" :key="error" v-text="error"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="cerrarModal()">CERRAR</button>
              <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarCargo()">GUARDAR</button>
              <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarCargo()" >ACTUALIZAR</button>
            </div>
          </div>
        </div>
      </div>
      <!--Fin del modal agregar/actualizar-->
  </div>

</template>

<script>
export default {
  props: ['ruta'],

  created () {
      document.title = "Cargos";
  },

  data() {
    return {
      nombre: "",
      id_unidad:0,
      id_cargo:0,
      arrayCargo: [],
      modal: 0,
      tituloModal: "",
      tipoAccion: 0,
      errorCargo: 0,
      errorMostrarMsjCargo: [],
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0
      },
      offset: 3,
      criterio: "nombre",
      buscar: "",
      buttonslist: false,
      arrayClient: [],
      arrayUnidad: [],
    };
  },
  computed: {
    isActived: function() {
      return this.pagination.current_page;
    },

    pagesNumber: function() {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },
  methods: {
    listarCargo(page,buscar,criterio) {
      let me = this;
      this.buttonslist = false;
      var url='/cargo?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;

      axios
        .get(url)
        .then(function(response) {
          var respuesta= response.data;
          me.arrayCargo = respuesta.cargos.data;
          me.pagination= respuesta.pagination;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarPdf(){
        window.open('/cargo/listarPdf','_blank');
    },

    cambiarPagina(page,buscar,criterio){
        let me = this;
        me.pagination.current_page = page;
        me.listarCargo(page,buscar,criterio);
    },

    notification(sw) {
      toastr.options.progressBar = true;
      switch (sw) {
        case "1": {
          iziToast.success({
            title: "Cargo",
            message: "registrada Exitosamente",
            position: "topRight"
          });
          break;
        }
        case "2": {
          iziToast.info({
            title: "Cargo",
            message: "modificado existosamente",
            position: "topRight"
          });
          break;
        }
      }
    },

    registrarCargo() {
      if (this.validarCargo()) {
        return;
      }

      let me = this;

      axios.post("/cargo/registrar", {
          id_unidad:this.id_unidad,
          nombre: this.nombre
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("1");
          me.listarCargo(1, "", "nombre");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    actualizarCargo() {
      if (this.validarCargo()) {
        return;
      }

      let me = this;

      axios
        .put("/cargo/actualizar", {
          nombre: this.nombre,
          id_unidad: this.id_unidad,
          id:this.id_cargo
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("2");
          me.listarCargo(1, "", "nombre");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    activarCargo(id) {
      swal({
        title: "activar el registro?",
        text: "Se procedera a activar el registro",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Activar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/cargo/activar", {
              id: id
            })
            .then(function(response) {
              me.listarCargo(1, "", "nombre");
              swal(
                "Activado!",
                "El registro ha sido activado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "El registro aun esta activo", "error");
        }
      });
    },
    desactivarCargo(id) {
      swal({
        title: "desactivar el registro?",
        text: "Se procedera a desactivar el registro",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Desactivar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/cargo/desactivar", {
              id: id
            })
            .then(function(response) {
              me.listarCargo(1, "", "nombre");
              swal(
                "Desactivado!",
                "El registro ha sido desactivado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "El registro aun esta activo", "error");
        }
      });
    },

    selectUnits(){
        let me=this;
        var url= this.ruta + '/unidades-inso/selectUnidad';
        axios.get('/unidades-inso/selectUnidad').then(function (response) {
        console.log("Response data "+ response.data);
            var respuesta= response.data;
            me.arrayUnidad = respuesta.unidades;
        })
        .catch(function (error) {
            console.log(error);
        });
    },

    eliminarCargo(id) {
      swal({
        title: "Desea Eliminar el registro?",
        text: "Se procedera a eliminar el registro",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Eliminar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/cargo/eliminar", {
              id: id
            })
            .then(function(response) {
              me.listarCargo(1, "", "nombre");
              swal(
                "Eliminado!",
                "El registro ha sido eliminado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
              swal("Advertencia", "El registro se encuentra asociado a otro registro, no se puede eliminar", "error");
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "El registro aun esta activo", "error");
        }
      });
    },
    validarCargo() {
      this.errorCargo = 0;
      this.errorMostrarMsjCargo = [];

      if (!this.id_unidad)
        this.errorMostrarMsjCargo.push(
          "El codigo no puede estar vacío."
        );
      if (!this.nombre)
        this.errorMostrarMsjCargo.push(
          "El nombre no puede estar vacío."
        );

      if (this.errorMostrarMsjCargo.length) this.errorCargo = 1;

      return this.errorCargo;
    },
    cerrarModal() {
      this.buttonslist = false;
      this.modal = 0;
      this.tituloModal = "";
      this.codigo = "";
      this.nombre = "";
      this.id_unidad ="";
    },
    abrirModal(modelo, accion, data = []) {
      switch (modelo) {
        case "cargo": {
          switch (accion) {
            case "registrar": {
              this.modal = 1;
              this.tituloModal = "Registrar Cargo";
              this.nombre = "";
              this.id_unidad = 0;
              this.tipoAccion = 1;
              this.buttonslist = !this.buttonslist;
              break;
            }
            case "actualizar": {
              this.modal = 1;
              this.tituloModal = "Actualizar Cargo";
              this.tipoAccion = 2;
              this.id_unidad = data["id_unidad"];
              this.nombre = data["nombre"];
              this.id_cargo = data["id"];
              break;
            }
          }
        }
      }
        this.selectUnits();
    }
  },
  mounted() {
    this.listarCargo(1, this.buscar, this.criterio);
  }
};
</script>
