<template>
    <div class="row">
      <div class="col-md-12 mb-30">
        <div class="card card-statistics h-100">
          <div class="card-body">
            <div class="d-block d-md-flex justify-content-between">
              <div class="d-block">
                <h5 class="card-title pb-0 border-0">Listado Tipos de Contratos</h5>

                <button type="button" class="btn btn-primary" v-if="buttonslist">ESPERANDO</button>
                <button type="button" class="btn btn-primary" @click="abrirModal('unidad','registrar')" v-else >AGREGAR</button>

                <button type="button" @click="cargarPdf()" class="btn btn-info"><i class="icon-doc"></i>&nbsp;Reporte de Unidades</button>

              </div>

              <div class="d-block d-md-flex clearfix">
                  <select class="custom-select szul" v-model="criterio">
                    <option value="codigo">Codigo</option>
                    <option value="nombre">Nombre</option>
                  </select>
                 <div class="widget-search ml-0 clearfix">
                  <input type="search" class="form-control" v-model="buscar" @keyup.enter="listarUnidad(1,buscar,criterio)" >
                  <button type="button" @click="listarUnidad(1,buscar,criterio)" class="btn btn-warning">
                    Buscar
                  </button>&nbsp;
                </div>
               </div>

             </div>
              <div class="table-responsive mt-20">
              <template v-if="arrayUnidad.length > 0">
              <table class="table table-striped table-bordered p-0">
                <thead class="alg">
                  <tr class="text-dark">
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                  <tbody class="alg">
                    <tr v-for="(unidad,cont) in arrayUnidad" :key="unidad.id">
                      <td>{{ cont+1 }}</td>
                      <td v-text="unidad.codigo"></td>
                      <td v-text="unidad.nombre"></td>
                      <td>
                        <b v-if="unidad.estado">
                          <i class="pr-2 fa fa-circle text-success"></i> Activo
                        </b>
                        <b v-else>
                          <i class="pr-2 fa fa-circle text-danger"></i> Inactivo
                        </b>
                      </td>
                      <td>

                        <button type="button" @click="abrirModal('unidad','actualizar',unidad)" class="btn btn-warning btn-sm" >
                          <i class="fa fa-pencil pr-1"></i>
                        </button> &nbsp;

                        <template v-if="unidad.status">
                          <button type="button" class="btn btn-info btn-sm" @click="desactivarUnidad(unidad.id)">
                            <i class="fa fa-eye pr-1"></i>
                          </button>
                        </template>

                        <template v-if="unidad.estado">
                          <button type="button" class="btn btn-danger btn-sm" @click="eliminarUnidad(unidad.id)">
                            <i class="fa fa-trash pr-1"></i>
                          </button>
                        </template>

                        <template v-else>
                          <button
                            type="button"
                            class="btn btn-info btn-sm"
                            @click="activarUnidad(unidad.id)">
                            <i class="fa fa-tag pr-1"></i>
                          </button>
                        </template>

                      </td>
                    </tr>
                  </tbody>

              </table>
              </template>
              <template v-else>
                <div class="scrollbar max-h-600">
                 <div class="chats">
                   <div class="chat-wrapper clearfix">
                      <div class="chat-avatar">
                        <img class="img-fluid avatar-small" src="images/asistente.png" alt="">
                      </div>
                      <div class="chat-body p-3">
                         <p class="typewriter">Sin Registros para mostrar porfavor agregue registros ...</p>
                      </div>
                   </div>

                 </div>
                </div>
            </template>
            </div>
            <div class="sm-mt-20">
                <nav aria-label="Page navigation example">
                 <ul class="pagination justify-content-center">
                    <li class="page-item " v-if="pagination.current_page > 1">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant.</a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig.</a>
                    </li>
                  </ul>
                </nav>
            </div>
            </div>
        </div>
      </div>

      <!--Inicio del modal agregar/actualizar-->
      <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" v-text="tituloModal"></h4>
              <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form action method="POST" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Codigo</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      v-model="codigo"
                      class="form-control"
                      placeholder="Codigo Unidad"
                    >
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      v-model="nombre"
                      class="form-control"
                      placeholder="Nombre Unidad"
                    >
                  </div>
                </div>

                <div v-show="errorUnidad" class="form-group row div-error">
                  <div class="text-center text-error">
                    <div v-for="error in errorMostrarMsjUnidad" :key="error" v-text="error"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="cerrarModal()">CERRAR</button>
              <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarUnidad()">GUARDAR</button>
              <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarUnidad()" >ACTUALIZAR</button>
            </div>
          </div>
        </div>
      </div>
      <!--Fin del modal agregar/actualizar-->
  </div>

</template>

<script>
export default {
  props: ['ruta'],
  data() {
    return {
      codigo:"",
      nombre: "",
      arrayUnidad: [],
      modal: 0,
      tituloModal: "",
      tipoAccion: 0,
      errorUnidad: 0,
      errorMostrarMsjUnidad: [],
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0
      },
      offset: 3,
      criterio: "nombre",
      buscar: "",
      buttonslist: false
    };
  },
  computed: {
    isActived: function() {
      return this.pagination.current_page;
    },

    pagesNumber: function() {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },
  methods: {
    listarUnidad(page,buscar,criterio) {
      let me = this;
      this.buttonslist = false;
      var url='/unidad?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;

      axios
        .get(url)
        .then(function(response) {
          var respuesta= response.data;
          me.arrayUnidad = respuesta.unidades.data;
          me.pagination= respuesta.pagination;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarPdf(){
        window.open('/unidad/listarPdf','_blank');
    },

    vacacionesPDF(){
        window.open('/vacaciones/vacacionesPdf','_blank')
    },

    cambiarPagina(page,buscar,criterio){
        let me = this;
        me.pagination.current_page = page;
        me.listarUnidad(page,buscar,criterio);
    },

    notification(sw) {
      toastr.options.progressBar = true;
      switch (sw) {
        case "1": {
          iziToast.success({
            title: "Unidad",
            message: "registrada Exitosamente",
            position: "topRight"
          });
          break;
        }
        case "2": {
          iziToast.info({
            title: "Unidad",
            message: "modificado existosamente",
            position: "topRight"
          });
          break;
        }
      }
    },

    registrarUnidad() {
      if (this.validarUnidad()) {
        return;
      }

      let me = this;

      axios
        .post("/unidad/registrar", {
          codigo: this.codigo,
          nombre: this.nombre
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("1");
          me.listarUnidad(1, "", "nombre");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    actualizarUnidad() {
      if (this.validarUnidad()) {
        return;
      }

      let me = this;

      axios
        .put("/unidad/actualizar", {
          codigo: this.codigo,
          nombre: this.nombre,
          id: this.unidad_id
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("2");
          me.listarUnidad(1, "", "nombre");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    activarCategoria(id) {
      swal({
        title: "activar el registro?",
        text: "Se procedera a activar el registro",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Activar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/unidad/activar", {
              id: id
            })
            .then(function(response) {
              me.listarUnidad(1, "", "nombre");
              swal(
                "Activado!",
                "El registro ha sido activado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "El registro aun esta activo", "error");
        }
      });
    },
    desactivarUnidad(id) {
      swal({
        title: "desactivar el registro?",
        text: "Se procedera a desactivar el registro",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Desactivar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/unidad/desactivar", {
              id: id
            })
            .then(function(response) {
              me.listarUnidad(1, "", "nombre");
              swal(
                "Desactivado!",
                "El registro ha sido desactivado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "El registro aun esta activo", "error");
        }
      });
    },

    eliminarUnidad(id) {
      swal({
        title: "Desea Eliminar el registro?",
        text: "Se procedera a eliminar el registro",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Eliminar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/unidad/eliminar", {
              id: id
            })
            .then(function(response) {
              me.listarUnidad(1, "", "nombre");
              swal(
                "Eliminado!",
                "El registro ha sido eliminado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
              swal("Advertencia", "El registro se encuentra asociado a otro registro, no se puede eliminar", "error");
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "El registro aun esta activo", "error");
        }
      });
    },
    validarUnidad() {
      this.errorUnidad = 0;
      this.errorMostrarMsjUnidad = [];

      if (!this.codigo)
        this.errorMostrarMsjUnidad.push(
          "El codigo no puede estar vacío."
        );
      if (!this.nombre)
        this.errorMostrarMsjUnidad.push(
          "El nombre no puede estar vacío."
        );

      if (this.errorMostrarMsjUnidad.length) this.errorUnidad = 1;

      return this.errorUnidad;
    },
    cerrarModal() {
      this.buttonslist = false;
      this.modal = 0;
      this.tituloModal = "";
      this.codigo = "";
      this.nombre = "";
    },
    abrirModal(modelo, accion, data = []) {
      switch (modelo) {
        case "unidad": {
          switch (accion) {
            case "registrar": {
              this.modal = 1;
              this.tituloModal = "Registrar Unidad";
              this.codigo = "";
              this.nombre = "";
              this.tipoAccion = 1;
              this.buttonslist = !this.buttonslist;
              break;
            }
            case "actualizar": {
              this.modal = 1;
              this.tituloModal = "Actualizar Unidad";
              this.tipoAccion = 2;
              this.unidad_id = data["id"];
              this.codigo = data["codigo"];
              this.nombre = data["nombre"];
              break;
            }
          }
        }
      }
    }
  },
  mounted() {
    this.listarUnidad(1, this.buscar, this.criterio);
  }
};
</script>
