<template>
    <div>

      <div class="page-title">
        <div class="row">
          <div class="col-sm-6">
              <h4 class="mb-0"> PANEL ADMINISTRATIVO RECURSOS HUMANOS</h4>
                <br>
                <div class="scrollbar max-h-600">
                 <div class="chats">
                   <div class="chat-wrapper clearfix">
                      <div class="chat-avatar">
                        <img class="img-fluid" src="images/asistente.gif" alt="">
                      </div>
                      <div class="chat-body p-3">
                         <p class="typewriter">
                             <strong>Jaime Flores,</strong>
                              Bienvenido al Sistema de RRHH del INSO ...</p>
                      </div>
                   </div>
                 </div>
                </div>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                <vue-clock />
            </ol>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
          <div class="card card-statistics h-100">
            <div class="card-body">
              <div class="clearfix">
                <div class="float-left">
                  <span class="text-danger">
                    <i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="float-right text-right">
                  <p class="card-text text-dark">UNIDADES</p>
                  <h4>{{ cunidades }}</h4>
                </div>
              </div>
              <!-- <p class="text-muted pt-3 mb-0 mt-2 border-top">
                <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> 81% lower growth
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
          <div class="card card-statistics h-100">
            <div class="card-body">
              <div class="clearfix">
                <div class="float-left">
                  <span class="text-warning">
                    <i class="fa fa-shopping-cart highlight-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="float-right text-right">
                  <p class="card-text text-dark">Profesiones</p>
                  <h4>{{ cprofesion }}</h4>
                </div>
              </div>
              <!-- <p class="text-muted pt-3 mb-0 mt-2 border-top">
                <i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i> Total de productos
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
          <div class="card card-statistics h-100">
            <div class="card-body">
              <div class="clearfix">
                <div class="float-left">
                  <span class="text-success">
                    <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="float-right text-right">
                  <p class="card-text text-dark">Cargos</p>
                  <h4>{{ ccargo }}</h4>
                </div>
              </div>
              <!-- <p class="text-muted pt-3 mb-0 mt-2 border-top">
                <i class="fa fa-calendar mr-1" aria-hidden="true"></i> total de productos
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
          <div class="card card-statistics h-100">
            <div class="card-body">
              <div class="clearfix">
                <div class="float-left">
                  <span class="text-primary">
                    <i class="fa fa-twitter highlight-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="float-right text-right">
                  <p class="card-text text-dark">Personal</p>
                  <h4>{{ cpersonal }}</h4>
                </div>
              </div>
              <!-- <p class="text-muted pt-3 mb-0 mt-2 border-top">
                <i class="fa fa-repeat mr-1" aria-hidden="true"></i>Actualizados
              </p> -->
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-xl-4 mb-30">
         <div class="card card-statistics h-100">

           <div class="btn-group info-drop">
              <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="text-primary ti-reload"></i>Refresh</a>
                <a class="dropdown-item" href="#"><i class="text-secondary ti-eye"></i>View all</a>
              </div>
            </div>
           <div class="card-body">
             <h5 class="card-title">Registros</h5>
              <h4>$50,500 </h4>
             <div class="row mt-20">
              <div class="col-4">
                <h6>Clientes</h6>
                <b class="text-info">+ 82.24 % </b>
              </div>
              <div class="col-4">
                <h6>Convenios</h6>
                <b class="text-danger">- 12.06 % </b>
              </div>
              <div class="col-4">
                <h6>Productos</h6>
                <b class="text-warning">+ 24.86 % </b>
              </div>
            </div>
           </div>
          <div id="sparkline2" class="scrollbar-x text-center"></div>
          </div>
        </div>
        <div class="col-xl-8 mb-30">
          <div class="card h-100">
            <div class="btn-group info-drop">
              <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="text-primary ti-reload"></i>Refresh</a>
                <a class="dropdown-item" href="#"><i class="text-secondary ti-eye"></i>View all</a>
              </div>
            </div>
            <div class="card-body">
            <div class="d-block d-md-flexx justify-content-between">
              <div class="d-block">
                <h5 class="card-title">Estadisticas </h5>
              </div>
              <div class="d-flex">
                  <div class="clearfix mr-30">
                    <h6 class="text-success">Entradas</h6>
                    <p>+584</p>
                  </div>
                  <div class="clearfix  mr-50">
                    <h6 class="text-danger"> Salidas</h6>
                    <p>-255</p>
                  </div>
               </div>
             </div>
            <div id="morris-area" style="height: 320px;"></div>
          </div>
          </div>
        </div>
      </div> -->

    </div>
</template>

<script>
    import VueClock from '@dangvanthanh/vue-clock';
    // import {
    //     ContentLoader,
    //     FacebookLoader,
    //     CodeLoader,
    //     BulletListLoader,
    //     InstagramLoader,
    //     ListLoader
    // } from 'vue-content-loader';

    export default {
        components: {
            VueClock,
            // ContentLoader,
        },

    data() {

        return {
            cunidades:0,
            cprofesion:0,
            cpersonal:0,
            ccargo:0,
        };
    },
    methods: {
    },
    name:'dashboard',
    created () {
        document.title = "Dashboard";
    },
    mounted() {
        var url='/cantidad';
    axios
      .get(url)
      .then(response => (
          this.cunidades = response.data.unidades,
          this.cprofesion = response.data.profesion,
          this.cpersonal = response.data.personal,
          this.ccargo = response.data.cargo
    ));
    }

    }
</script>
