<template>
  <transition enter-active-class="animated bounceInLeft">
    <div class="row">
      <div class="col-md-12 mb-30">
        <div class="card card-statistics h-100">
          <div class="card-body">
            <div class="d-block d-md-flex justify-content-between">
              <div class="d-block">
                <h5 class="card-title pb-0 border-0">LISTADO PERSONAL</h5>

                <button type="button" class="btn btn-primary" v-if="buttonslist">ESPERANDO</button>
                <button type="button" class="btn btn-primary" @click="abrirModal('tasks','registrar')" v-else > <img src="images/add.png"> &nbsp; AGREGAR</button>
                <button type="button" @click="listaPersonalPDF()" class="btn btn-success"><img src="images/pdf.png"> &nbsp;REPORTE PERSONAL</button>

              </div>

              <div class="d-block d-md-flex clearfix">
                  <select  class="custom-select szul" v-model="criterio">
                    <option value="name">Nombre</option>
                    <option value="note">Descripción</option>
                  </select>
                 <div class="widget-search ml-0 clearfix">
                  <input type="search" class="form-control" v-model="buscar" @keyup.enter="listPersonal(1,buscar,criterio)" >
                  <button type="button" @click="listPersonal(1,buscar,criterio)" class="btn btn-warning">
                    Buscar
                  </button>&nbsp;
                </div>
               </div>

             </div>
              <div class="table-responsive mt-20">
              <template v-if="arrayPersonal.length > 0">
                <table class="table table-striped table-bordered p-0">
                    <thead class="alg">
                    <tr class="text-dark">
                        <th>#</th>
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Paterno</th>
                        <th>Materno</th>
                        <th>Unidad</th>
                        <th>Fecha Ingreso</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody class="alg">
                    <tr v-for="(personal, cont) in arrayPersonal" :key="personal.id">
                        <td>{{ cont+1 }}</td>
                        <td v-text="personal.cedula"></td>
                        <td v-text="personal.nombres"></td>
                        <td v-text="personal.paterno"></td>
                        <td v-text="personal.materno"></td>

                        <td v-text="personal.id_cargo"></td>
                        <td v-text="personal.fecha_ingreso"></td>
                        <td>
                        <button type="button" @click="abrirModal('personal','actualizar',personal)" class="btn btn-warning btn-sm" >
                            <img src="images/pencil.png" alt="Modificar">
                        </button> &nbsp;

                        <button type="button" @click="personalPdf(personal.id)" class="btn btn-danger btn-sm" >
                            <img src="images/pdf.png" alt="Reporte PDF">
                        </button> &nbsp;

                        <template v-if="personal.status">
                            <button type="button" class="btn btn-danger btn-sm" @click="desactivarPersonal(personal.id)">
                            <img src="images/delete.png" alt="Borrar">
                            </button>
                        </template>

                        <template v-else>
                            <button
                            type="button"
                            class="btn btn-info btn-sm"
                            @click="activarPersonal(personal.id)"
                            >
                            <i class="fa fa-tag pr-1"></i>
                            </button>
                        </template>
                        </td>
                    </tr>
                    </tbody>
                </table>
              </template>
              <template v-else>
                <div class="scrollbar max-h-600">
                 <div class="chats">
                   <div class="chat-wrapper clearfix">
                      <div class="chat-avatar">
                        <img class="img-fluid" src="images/asistente.gif" alt="">
                      </div>
                      <div class="chat-body p-3">
                         <p class="typewriter">Sin Registros para mostrar porfavor agregue registros ...</p>
                      </div>
                   </div>

                 </div>
                </div>
            </template>
            </div>
            <div class="sm-mt-20">
                <nav aria-label="Page navigation example">
                 <ul class="pagination justify-content-center">
                    <li class="page-item " v-if="pagination.current_page > 1">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant.</a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig.</a>
                    </li>
                  </ul>
                </nav>
            </div>
            </div>
        </div>
      </div>

      <!--Inicio del modal agregar/actualizar-->
      <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title" v-text="tituloModal"></h4>
              <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">

            <div class="col-xl-12 mb-50">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                    <div class="repeater-file">
                        <div data-repeater-list="group-a">
                        <form action method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="text-input">Cédula</label>
                                    <input
                                    type="number"
                                    v-model="cedula"
                                    class="form-control"
                                    placeholder="Cedula"
                                    >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="text-input">Correo</label>
                                    <input
                                    type="email"
                                    v-model="correo"
                                    class="form-control"
                                    placeholder="Correo Electronico"
                                    >
                                </div>
                                </div>


                                <div class="form-group">
                                <label for="text-input">Dirección</label>
                                        <input
                                        type="text"
                                        v-model="direccion"
                                        class="form-control"
                                        placeholder="Dirección"
                                        >
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="text-input">Nombre</label>
                                            <input
                                            type="text"
                                            v-model="nombres"
                                            class="form-control"
                                            placeholder="Nombres"
                                            >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="text-input">Materno</label>
                                            <input
                                            type="text"
                                            v-model="materno"
                                            class="form-control"
                                            placeholder="Apellido Materno"
                                            >
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Paterno (*)</label>
                                            <input
                                            type="text"
                                            v-model="paterno"
                                            class="form-control"
                                            placeholder="Apellido Paterno"
                                            >
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Fecha Nacimiento (*)</label>
                                        <input
                                        type="date"
                                        id="f_nacimiento"
                                        class="form-control"
                                        v-model="f_nacimiento"
                                        >
                                    </div>

                                    <!-- <v-calendar></v-calendar> -->

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Fecha Ingreso (*)</label>
                                            <input
                                            type="date"
                                            v-model="f_ingreso"
                                            class="form-control"
                                            placeholder="Fecha de ingreso"
                                            >
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">*Unidad (*)</label>
                                        <select class="custom-select mr-sm-2 szul" v-model="id_unidad">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="unidad in arrayUnits" :key="unidad.id" :value="unidad.id" v-text="unidad.nombre"></option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Cargo (*)</label>
                                            <select class="custom-select mr-sm-2 szul" v-model="id_cargo">
                                                <option value="0" disabled>Seleccione</option>
                                                <option v-for="cargo in arrayCargo" :key="cargo.id" :value="cargo.id" v-text="cargo.nombre"></option>
                                            </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Caja (*)</label>
                                            <select class="custom-select mr-sm-2 szul" v-model="id_caja">
                                                <option value="0" disabled>Seleccione</option>
                                                <option value="1" >Caja Petrolera de Salud</option>
                                                <option value="2">Caja Nacional de Salud</option>
                                                <option value="3">Caja de Salud de la Banca Privada</option>
                                                <option value="4">Caja de Salid de Caminos y RA</option>
                                                <option value="5">Caja de Salud Cordes</option>
                                                <option value="6">Caja Bancaria Estatal de Salud</option>
                                                <option value="7">Cossmil</option>
                                                <option value="8">Seguro Integral de Salud SINEC</option>
                                                <option value="9">Seguro Social Universitario</option>
                                            </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Profesión (*)</label>
                                            <select class="custom-select mr-sm-2 szul" v-model="id_profesion">
                                                <option value="0" disabled>Seleccione</option>
                                                <option v-for="profesion in arrayProfesion" :key="profesion.id" :value="profesion.id" v-text="profesion.nombre"></option>
                                            </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Estado Civil (*)</label>
                                            <select class="custom-select mr-sm-2 szul" v-model="estado_civil">
                                                <option value="0" disabled>Seleccione</option>
                                                <option value="1">Soltero/a</option>
                                                <option value="2">Casado/a</option>
                                                <option value="3">Unión libre o unión de hecho</option>
                                                <option value="4">Separado/a</option>
                                                <option value="5">Divorciado/a</option>
                                                <option value="6">Viudo/a.</option>
                                            </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Sexo (*)</label>
                                            <select class="custom-select mr-sm-2 szul" v-model="genero">
                                                <option value="0" disabled>Seleccione</option>
                                                <option value="1">Masculino</option>
                                                <option value="2">Femenino</option>
                                            </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">AFP (*)</label>
                                            <select class="custom-select mr-sm-2 szul" v-model="afp">
                                                <option value="0" disabled>Seleccione</option>
                                                <option value="1">AFP FUTURO</option>
                                                <option value="2">PREVISION</option>
                                            </select>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="clearfix">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">CERRAR</button>
                            <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registerPersonal()">GUARDAR</button>
                            <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarPersonal()" >ACTUALIZAR</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            </div>
          </div>
        </div>
      </div>
      <!--Fin del modal-->
  </div>
  </transition>

</template>

<script>
    import Fullcalendar from "@fullcalendar/vue";
    import dayGridPlugin from "@fullcalendar/daygrid";
    import interactionPlugin from "@fullcalendar/interaction";
    import Calendar from 'v-calendar/lib/components/calendar.umd';
    import DatePicker from 'v-calendar/lib/components/date-picker.umd';

    export default {
    props: ["personal"],
    components: {
        Fullcalendar,
        Calendar,
        DatePicker
    },
    created () {
        document.title = "Personal";
    },
    data() {
        return {
        selectedDate: null,
        calendarPlugins: [dayGridPlugin, interactionPlugin],
        componentPrefix: 'vc',  // Use <vc-calendar /> instead of <v-calendar />
        cedula: "",
        nombres:"",
        paterno:"",
        materno:"",
        f_nacimiento:"",
        caja:"",
        slug:"",
        id_cargo:0,
        correo:"",
        f_ingreso:"",
        estado_civil:"",
        celular:"",
        genero:0,
        direccion:"",
        afp:0,
        seguro:0,
        note: "",
        id_profesion:0,
        id_unidad:0,
        id_status:0,
        id_caja:0,
        estado_civil:0,
        genero:0,
        afp:0,
        name:"",
        code:0,
        id_status:0,
        modal: 0,
        tituloModal: "",
        tipoAccion: 0,
        errorPersonal:0,
        errorMostrarMsjPersonal: [],
        pagination: {
            total: 0,
            current_page: 0,
            per_page: 0,
            last_page: 0,
            from: 0,
            to: 0
        },
        offset: 3,
        criterio: "nombres",
        buscar: "",
        buttonslist: false,
        arrayClient: [],
        arrayUnits : [],
        arrayStatus: [],
        arrayPersonal: [],
        arrayProfesion: [],
        arrayCargo:[],
        };
    },
    computed: {
        isActived: function() {
        return this.pagination.current_page;
        },
        pagesNumber: function() {
        if (!this.pagination.to) {
            return [];
        }

        var from = this.pagination.current_page - this.offset;
        if (from < 1) {
            from = 1;
        }

        var to = from + this.offset * 2;
        if (to >= this.pagination.last_page) {
            to = this.pagination.last_page;
        }

        var pagesArray = [];
        while (from <= to) {
            pagesArray.push(from);
            from++;
        }
        return pagesArray;
        }
    },
    methods: {
        listPersonal(page,buscar,criterio) {
        let me = this;
        this.buttonslist = false;
        var url='/personal?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;

        axios
            .get(url)
            .then(function(response) {
            var respuesta= response.data;
            me.arrayPersonal = respuesta.personal.data;
            me.pagination= respuesta.pagination;
            })
            .catch(function(error) {
            console.log(error);
            });
        },

        cambiarPagina(page,buscar,criterio){
            let me = this;
            me.pagination.current_page = page;
            me.listPersonal(page,buscar,criterio);
        },

        notification(sw) {
        toastr.options.progressBar = true;
        switch (sw) {
            case "1": {
            iziToast.success({
                title: "Tareas",
                message: "registrada Exitosamente",
                position: "topRight"
            });
            break;
            }
            case "2": {
            iziToast.info({
                title: "Tareas",
                message: "modificado existosamente",
                position: "topRight"
            });
            break;
            }
        }
        },

        registerPersonal() {
        // if (this.validarPersonal()) {
        //     return;
        // }

        let me = this;

        axios
            .post("/personal/registrar", {
            id_personal:this.id_personal,
            id_unidad:this.id_unidad,
            cedula:this.cedula,
            nombres: this.nombres,
            paterno: this.paterno,
            materno: this.materno,
            // caja: this.caja,
            id_cargo: this.id_cargo,
            id_profesion: this.id_profesion,
            correo: this.correo,
            f_ingreso: this.f_ingreso,
            f_nacimiento: this.f_nacimiento,
            estado_civil: this.estado_civil,
            celular: this.celular,
            genero: this.genero,
            direccion: this.direccion,
            afp: this.afp,
            })
            .then(function(response) {
            me.cerrarModal();
            me.notification("1");
            me.listPersonal(1, "", "nombres");
            })
            .catch(function(error) {
                console.log(error);
            });
        },

        actualizarPersonal() {
        if (this.validarPersonal()) {
            return;
        }

        let me = this;

        axios
            .put("/personal/actualizar", {
            'id': this.tasks_id,
            'name': this.name,
            'code':this.code,
            'id_personal':this.id_personal,
            'id_unidad':this.id_unidad,
            'note': this.note,
            'id_status': this.id_status
            })
            .then(function(response) {
            me.cerrarModal();
            me.notification("2");
            me.listPersonal(1, "", "name");
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        activarPersonal(id) {
        swal({
            title: "activar el registro?",
            text: "Se procedera a activar el registro",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Activar",
            cancelButtonText: "No, Cancelar!",
            reverseButtons: true
        }).then(result => {
            if (result.value) {
            let me = this;

            axios
                .put("/personal/activar", {
                id: id
                })
                .then(function(response) {
                me.listPersonal(1, "", "nombre");
                swal(
                    "Activado!",
                    "El registro ha sido activado con éxito.",
                    "success"
                );
                })
                .catch(function(error) {
                console.log(error);
                });
            } else if (result.dismiss === swal.DismissReason.cancel) {
            swal("Cancelado", "El registro aun se encuentra activo", "error");
            }
        });
        },
        desactivarPersonal(id) {
        swal({
            title: "desactivar el registro?",
            text: "Se procedera a desactivar el registro",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Desactivar",
            cancelButtonText: "No, Cancelar!",
            reverseButtons: true
        }).then(result => {
            if (result.value) {
            let me = this;

            axios
                .put("/personal/desactivar", {
                id: id
                })
                .then(function(response) {
                me.listPersonal(1, "", "name");
                swal(
                    "Desactivado!",
                    "El registro ha sido desactivado con éxito.",
                    "success"
                );
                })
                .catch(function(error) {
                console.log(error);
                });
            } else if (result.dismiss === swal.DismissReason.cancel) {
            swal("Cancelado", "El registro aun se encuentra activo", "error");
            }
        });
        },

        validarCategoria() {
        this.errorPersonal = 0;
        this.errorMostrarMsjCategoria = [];

        if (!this.nombres)
            this.errorMostrarMsjCategoria.push(
            "El nombre no puede estar vacío."
            );

        if (!this.nombres)
            this.errorMostrarMsjCategoria.push(
            "El nombre no puede estar vacío."
            );

        if (!this.description)
            this.errorMostrarMsjCategoria.push(
            "La descripción de la categoría no puede estar vacío."
            );

        if (this.errorMostrarMsjCategoria.length) this.errorPersonal = 1;

        return this.errorPersonal;
        },

        validarPersonal() {
        this.errorPersonal = 0;
        this.errorMostrarMsjPersonal = [];

        if (!this.nombre)
            this.errorMostrarMsjPersonal.push(
            "El nombre no puede estar vacio."
            );
        if (!this.note)
            this.errorMostrarMsjPersonal.push(
            "La descripción de la categoría no puede estar vacío."
            );

        if (!this.code)
        this.errorMostrarMsjPersonal.push(
            "El código del producto no puede estar vacio"
        )

        if (this.errorMostrarMsjPersonal.length) this.errorTasks = 1;

        return this.errorTasks;
        },

        selectProfesion(){
            let me=this;
            var url= this.ruta + '/profesion/selectProfesion';
            axios.get('/profesion/selectProfesion').then(function (response) {
                var respuesta= response.data;
                me.arrayProfesion = respuesta.profesiones;
            })
            .catch(function (error) {
                console.log(error);
            });
        },

        selectCargo(){
            let me=this;
            var url= this.ruta + '/cargo/selectCargo';
            axios.get('/cargo/selectCargo').then(function (response) {
                var respuesta= response.data;
                me.arrayCargo = respuesta.cargos;
            })
            .catch(function (error) {
                console.log(error);
            });
        },

        personalPdf(id){
            window.open('/personal/personalPdf/'+id,'_blank');
        },

        listaPersonalPDF(){
            window.open('/personal_listado/personalPdf/','_blank');
        },

        selectUnits(){
            let me=this;
            var url= this.ruta + '/unidades-inso/selectUnidad';
            axios.get('/unidades-inso/selectUnidad').then(function (response) {
                var respuesta= response.data;
                me.arrayUnits = respuesta.unidades;
            })
            .catch(function (error) {
                console.log(error);
            });
        },

        cerrarModal() {
        this.buttonslist = false;
        this.modal = 0;
        this.tituloModal = "";
        this.nombres = "";
        this.note = "";
        },
        abrirModal(modelo, accion, data = []) {
        switch (modelo) {
            case "tasks": {
            switch (accion) {
                case "registrar": {
                this.modal = 1;
                this.tituloModal = "Registrar Personal";
                this.tipoAccion = 1;
                this.cedula="";
                this.nombres = "";
                this.paterno = "";
                this.materno = "";
                this.id_unidad = 0;
                this.id_cargo = 0;
                this.id_client = 0;
                this.id_caja = 0;
                this.id_profesion = 0;
                this.estado_civil = 0;
                this.genero = 0;
                this.afp = 0;
                this.id_status = 0;
                this.buttonslist = !this.buttonslist;
                break;
                }
                case "actualizar": {
                this.modal = 1;
                this.tituloModal = "Actualizar Personal";
                this.tipoAccion = 2;
                this.id_unidad = data["id_unidad"];
                this.code = data["code"];
                this.id_client = data["id_client"];
                this.id_status = data["id_status"];
                this.name = data["name"];
                this.note = data["note"];
                this.tasks_id = data["id"];
                break;
                }
            }
            }
        }
            this.selectUnits();
            this.selectProfesion();
            this.selectCargo();
        }
    },
    mounted() {
        this.listPersonal(1, this.buscar, this.criterio);
    }
    };
</script>

<style lang="css">
    @import "~@fullcalendar/core/main.css";
    @import "~@fullcalendar/daygrid/main.css";

    .fc-title {
    color: #fff;
    }
    .fc-title:hover {
    cursor: pointer;
    }
</style>
