<template>
  <transition enter-active-class="animated bounceInLeft">
    <div class="row">
      <div class="col-md-12 mb-30">
        <div class="card card-statistics h-100">
          <div class="card-body">
            <div class="d-block d-md-flex justify-content-between">
              <div class="d-block">
                <h5 class="card-title pb-0 border-0">Listado Ocupaciones</h5>

              <button type="button" class="btn btn-primary" v-if="buttonslist">ESPERANDO</button>
              <button type="button" class="btn btn-primary" @click="abrirModal('ocupaciones','registrar')" v-else >AGREGAR</button>

              </div>

              <div class="d-block d-md-flex clearfix">
                  <select  class="custom-select szul" v-model="criterio">
                    <option value="name">Nombre</option>
                    <option value="note">Descripción</option>
                  </select>
                 <div class="widget-search ml-0 clearfix">
                  <input type="search" class="form-control" v-model="buscar" @keyup.enter="listOcupacion(1,buscar,criterio)" >
                  <button type="button" @click="listOcupacion(1,buscar,criterio)" class="btn btn-warning">
                    Buscar
                  </button>&nbsp;
                </div>
               </div>

             </div>
              <div class="table-responsive mt-20">
              <table class="table table-striped table-bordered p-0">
                <thead class="alg">
                  <tr class="text-dark">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Grupo</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody class="alg">
                  <tr v-for="(product, cont) in arrayOcupaciones" :key="product.id">
                    <td>{{ cont+1 }}</td>
                    <td v-text="product.name"></td>
                    <td v-text="product.code"></td>
                    <td v-text="product.nombre_grupo"></td>

                    <td>
                      <b v-if="product.status">
                        <i class="pr-2 fa fa-circle text-success"></i> Activo
                      </b>
                      <b v-else>
                        <i class="pr-2 fa fa-circle text-danger"></i> Inactivo
                      </b>
                    </td>
                    <td>

                      <button type="button" @click="abrirModal('ocupaciones','actualizar',product)" class="btn btn-warning btn-sm" >
                        <i class="fa fa-pencil pr-1"></i>
                      </button> &nbsp;

                      <template v-if="product.status">
                        <button type="button" class="btn btn-danger btn-sm" @click="desactivarOcupacion(product.id)">
                          <i class="fa fa-trash pr-1"></i>
                        </button>
                      </template>

                      <template v-else>
                        <button
                          type="button"
                          class="btn btn-info btn-sm"
                          @click="activarCategoria(product.id)"
                        >
                          <i class="fa fa-tag pr-1"></i>
                        </button>
                      </template>

                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="sm-mt-20">
                <nav aria-label="Page navigation example">
                 <ul class="pagination justify-content-center">
                    <li class="page-item " v-if="pagination.current_page > 1">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant.</a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig.</a>
                    </li>
                  </ul>
                </nav>
            </div>
            </div>
        </div>
      </div>

      <!--Inicio del modal agregar/actualizar-->
      <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" v-text="tituloModal"></h4>
              <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form action method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Nombre(*)</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      v-model="name"
                      class="form-control"
                      placeholder="Nombre del Tarea"
                    >
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Código(*)</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      v-model="code"
                      class="form-control"
                      placeholder="Código Ocupación"
                    >
                  </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input">Grupo Dependiente (*)</label>
                    <div class="col-md-9">
                        <select class="custom-select mr-sm-2 szul" v-model="id_grupo">
                            <option value="0" disabled>Seleccione</option>
                            <option v-for="grupo in arrayGroups" :key="grupo.id" :value="grupo.id" v-text="grupo.name"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      v-model="description"
                      class="form-control"
                      placeholder="description"
                    >
                  </div>
                </div>

                <div v-show="errorOcupacion" class="form-group row div-error">
                  <div class="text-center text-error">
                    <div v-for="error in errorMostrarMsjOcupacion" :key="error" v-text="error"></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="cerrarModal()">CERRAR</button>
              <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registerOcupacion()">GUARDAR</button>
              <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarOcupacion()" >ACTUALIZAR</button>
            </div>
          </div>
        </div>
      </div>
      <!--Fin del modal-->
  </div>
  </transition>

</template>

<script>
    export default {
    props: ["ocupaciones"],
    data() {
        return {
        name: "",
        description: "",
        id_grupo:0,
        name:"",
        code:0,
        modal: 0,
        tituloModal: "",
        tipoAccion: 0,
        errorOcupacion:0,
        errorMostrarMsjOcupacion: [],
        pagination: {
            total: 0,
            current_page: 0,
            per_page: 0,
            last_page: 0,
            from: 0,
            to: 0
        },
        offset: 3,
        criterio: "name",
        buscar: "",
        buttonslist: false,
        arrayGroups : [],
        arrayOcupaciones: [],
        };
    },
    computed: {
        isActived: function() {
        return this.pagination.current_page;
        },
        pagesNumber: function() {
        if (!this.pagination.to) {
            return [];
        }

        var from = this.pagination.current_page - this.offset;
        if (from < 1) {
            from = 1;
        }

        var to = from + this.offset * 2;
        if (to >= this.pagination.last_page) {
            to = this.pagination.last_page;
        }

        var pagesArray = [];
        while (from <= to) {
            pagesArray.push(from);
            from++;
        }
        return pagesArray;
        }
    },
    methods: {
        listOcupacion(page,buscar,criterio) {
        let me = this;
        this.buttonslist = false;
        var url='/ocupaciones?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;

        axios
            .get(url)
            .then(function(response) {
            var respuesta= response.data;
            me.arrayOcupaciones = respuesta.ocupaciones.data;
            me.pagination= respuesta.pagination;
            })
            .catch(function(error) {
            console.log(error);
            });
        },

        cambiarPagina(page,buscar,criterio){
            let me = this;
            me.pagination.current_page = page;
            me.listOcupacion(page,buscar,criterio);
        },

        notification(sw) {
        toastr.options.progressBar = true;
        switch (sw) {
            case "1": {
            iziToast.success({
                title: "Ocupaciones",
                message: "registrada Exitosamente",
                position: "topRight"
            });
            break;
            }
            case "2": {
            iziToast.info({
                title: "Ocupaciones",
                message: "modificado existosamente",
                position: "topRight"
            });
            break;
            }
        }
        },

        registerOcupacion() {
        if (this.validarOcupaciones()) {
            return;
        }

        let me = this;

        axios
            .post("/ocupaciones/registrar", {
            id_grupo:this.id_grupo,
            name: this.name,
            code:this.code,
            description: this.description
            })
            .then(function(response) {
            me.cerrarModal();
            me.notification("1");
            me.listOcupacion(1, "", "name");
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        actualizarOcupacion() {
        if (this.validarOcupaciones()) {
            return;
        }

        let me = this;

        axios
            .put("/ocupaciones/actualizar", {
            'id': this.ocupacion_id,
            'name': this.name,
            'code':this.code,
            'id_grupo':this.id_grupo,
            'description': this.description
            })
            .then(function(response) {
            me.cerrarModal();
            me.notification("2");
            me.listOcupacion(1, "", "name");
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        activarCategoria(id) {
        swal({
            title: "activar el registro?",
            text: "Se procedera a activar el registro",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Activar",
            cancelButtonText: "No, Cancelar!",
            reverseButtons: true
        }).then(result => {
            if (result.value) {
            let me = this;

            axios
                .put("/ocupaciones/activar", {
                id: id
                })
                .then(function(response) {
                me.listOcupacion(1, "", "name");
                swal(
                    "Activado!",
                    "El registro ha sido activado con éxito.",
                    "success"
                );
                })
                .catch(function(error) {
                console.log(error);
                });
            } else if (result.dismiss === swal.DismissReason.cancel) {
            swal("Cancelado", "El ocupaciones aun se encuentra activo", "error");
            }
        });
        },
        desactivarOcupacion(id) {
        swal({
            title: "desactivar el registro?",
            text: "Se procedera a desactivar la ocupación",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Desactivar",
            cancelButtonText: "No, Cancelar!",
            reverseButtons: true
        }).then(result => {
            if (result.value) {
            let me = this;

            axios
                .put("/ocupaciones/desactivar", {
                id: id
                })
                .then(function(response) {
                me.listOcupacion(1, "", "name");
                swal(
                    "Desactivado!",
                    "El registro ha sido desactivado con éxito.",
                    "success"
                );
                })
                .catch(function(error) {
                console.log(error);
                });
            } else if (result.dismiss === swal.DismissReason.cancel) {
            swal("Cancelado", "El ocupaciones aun se encuentra activo", "error");
            }
        });
        },
        validarOcupaciones() {
        this.errorOcupacion = 0;
        this.errorMostrarMsjOcupacion = [];

        if (!this.name)
            this.errorMostrarMsjOcupacion.push(
            "El nombre de la ocupacion no puede estar vacío."
            );
        if (!this.description)
            this.errorMostrarMsjOcupacion.push(
            "La descripción de la ocupacion no puede estar vacío."
            );

        if (!this.code)
        this.errorMostrarMsjOcupacion.push(
            "El código del ocupacion no puede estar vacio"
        )

        if (!this.id_grupo)
        this.errorMostrarMsjOcupacion.push(
            "Es necesario que elija un grupo para el registro"
        )

        if (this.errorMostrarMsjOcupacion.length) this.errorOcupacion = 1;

        return this.errorOcupacion;
        },

        selectGrupo(){
            let me=this;
            var url= this.ruta + '/grupo/selectGrupo';
            axios.get('/grupo/selectGrupo').then(function (response) {
            console.log("Response data "+ response.data);
                var respuesta= response.data;
                me.arrayGroups = respuesta.grupo;
            })
            .catch(function (error) {
                console.log(error);
            });
        },

        cerrarModal() {
        this.buttonslist = false;
        this.modal = 0;
        this.tituloModal = "";
        this.name = "";
        this.description = "";
        this.code = "";
        },
        abrirModal(modelo, accion, data = []) {
        switch (modelo) {
            case "ocupaciones": {
            switch (accion) {
                case "registrar": {
                this.modal = 1;
                this.tituloModal = "Registrar Ocupación";
                this.tipoAccion = 1;
                this.name = "";
                this.description = "";
                this.id_grupo = 0;
                this.code = 0;
                this.buttonslist = !this.buttonslist;
                break;
                }
                case "actualizar": {
                this.modal = 1;
                this.tituloModal = "Actualizar Ocupación";
                this.tipoAccion = 2;
                this.id_grupo = data["id_grupo"];
                this.code = data["code"];
                this.name = data["name"];
                this.description = data["description"];
                break;
                }
            }
            }
        }
            this.selectGrupo();
        }
    },
    mounted() {
        this.listOcupacion(1, this.buscar, this.criterio);
    }
    };
</script>
