<template>
    <div class="profile-page">
      <div class="row">
        <div class="col-lg-12 mb-30">
          <div class="card">
            <div class="card-body">
              <div class="user-bg" style="background: url(images/portada.png);">
                <div class="user-info">
                  <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="user-dp"><img src="images/user_admin.png" alt="USUARIO PERSONAL"></div>
                        <div class="user-detail">
                          <h2 class="name">JAIME FLORES PEREYRA </h2>
                          <p class="designation mb-0">-Admin</p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right align-self-center">
                        <button type="button" class="btn btn-sm btn-danger"><i class="ti-user pr-1"></i>Follow</button>
                        <button type="button" class="btn btn-sm btn-success"><i class="ti-email pr-1"></i>Message</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 mb-30">
          <div class="card mb-30 about-me">
            <div class="card-body">
              <h5 class="card-title"> Contactos</h5>
              <p>I have more than 9 years of experience in the field of Graphic/ E-Learning/Web Designing.</p>
              <p>Specialized in Adobe web & graphic designing tools and also in other tools. Professional in Corporate branding, Graphic designing, Web Designing, visualization, GUI, graphics & animations for e-learning, illustrations, web icons, logos, brochures, posters etc.</p>
              <ul class="list-unstyled ">
                <li class="list-item"><span class="text-info ti-email"></span>+(704) 279-15912</li>
                <li class="list-item"><span class="text-warning ti-direction-alt"></span>michael-bean@mail.com</li>
                <li class="list-item"><span class="text-success ti-facebook"></span>/michaelbean</li>
                <li class="list-item"><span class="text-danger ti-twitter"></span>@michaelbean</li>
                <li class="list-item"><span class="text-dark ti-direction-alt"></span>17504 Carlton Cuevas Rd, Gulfport, MS, 39503</li>
              </ul>
            </div>
          </div>
           <div class="card card-statistics">
           <div class="card-body">
             <h5 class="card-title"> Notifications</h5>

             <div class="btn-group info-drop">
                <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#"><i class="text-success ti-thumb-up"></i> Mark As Read</a>
                  <a class="dropdown-item" href="#"><i class="text-danger ti-trash"></i> Delete all</a>
                </div>
              </div>
             <div class="scrollbar max-h-350">
              <ul class="list-unstyled">
                <li class="mb-15">
                  <div class="media">
                   <div class="position-relative">
                    <img class="img-fluid mr-15 avatar-small" src="images/team/07.jpg" alt="">
                    <i class="avatar-online bg-success"></i>
                   </div>
                    <div class="media-body">
                       <h6 class="mt-0 ">Martin smith <small class="float-right">Just now</small> </h6>
                       <p>Create tailor-cut websites with the exclusive </p>
                    </div>
                  </div>
                  <div class="divider mt-15"></div>
                </li>
                <li class="mb-15">
                  <div class="media">
                   <div class="position-relative clearfix">
                    <img class="img-fluid mr-15 avatar-small" src="images/team/08.jpg" alt="">
                    <i class="avatar-online bg-success"></i>
                   </div>
                    <div class="media-body">
                       <h6 class="mt-0 ">Paul Flavius  <small class="float-right">Just now</small> </h6>
                       <p>Create tailor-cut websites with the exclusive </p>
                    </div>
                  </div>
                  <div class="divider mt-15"></div>
                </li>

              </ul>
             </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8 mb-30">
        <div class="card card-statistics h-100">
          <div class="card-body">
           <h5 class="card-title"> Tab Round shadow</h5>
            <div class="tab round shadow">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="home-08-tab" data-toggle="tab" href="#home-08" role="tab" aria-controls="home-08" aria-selected="true"> <i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-08-tab" data-toggle="tab" href="#profile-08" role="tab" aria-controls="profile-08" aria-selected="false"><i class="fa fa-user"></i> Profile </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="portfolio-08-tab" data-toggle="tab" href="#portfolio-08" role="tab" aria-controls="portfolio-08" aria-selected="false"><i class="fa fa-picture-o"></i> Portfolio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-08-tab" data-toggle="tab" href="#contact-08" role="tab" aria-controls="contact-08" aria-selected="false"><i class="fa fa-check-square-o"></i> Contact </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade active show" id="home-08" role="tabpanel" aria-labelledby="home-08-tab">
                  <p>The best way is to develop and follow a plan. Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan as detailed as possible. Try to visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes you closer to your Vision and Goals. If the plan doesn’t support the vision then change it!</p>
                </div>
                <div class="tab-pane fade" id="profile-08" role="tabpanel" aria-labelledby="profile-08-tab">
                  <p>We all carry a lot of baggage, thanks to our upbringing. The majority of people carry with them, an entire series of self-limiting beliefs that will absolutely stop, and hold them back from, success. Things like “I’m not good enough”, “I’m not smart enough”, “I’m not lucky enough”, and the worst, “I’m not worthy” are but a few of the self-limiting beliefs I have encountered. We carry them with us like rocks in a knapsack, and then use them to sabotage our success. So, how twisted is that? </p>
                </div>
                <div class="tab-pane fade" id="portfolio-08" role="tabpanel" aria-labelledby="portfolio-08-tab">
                  <p>Benjamin Franklin, inventor, statesman, writer, publisher and economist relates in his autobiography that early in his life he decided to focus on arriving at moral perfection. He made a list of 13 virtues, assigning a page to each. Under each virtue he wrote a summary that gave it fuller meaning. Then he practiced each one for a certain length of time. To make these virtues a habit, Franklin can up with a method to grade himself on his daily actions.</p>
                </div>
                <div class="tab-pane fade" id="contact-08" role="tabpanel" aria-labelledby="contact-08-tab">
                  <p>The other virtues practice in succession by Franklin were silence, order, resolution, frugality, industry, sincerity, Justice, moderation, cleanliness, tranquility, chastity and humility. For the summary order he followed a little scheme of employing his time each day. From five to seven each morning he spent in bodily personal attention, saying a short prayer, thinking over the day’s business and resolutions.</p>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
      </div>

    </div>

</template>

<script>
export default {
    props : ['ruta'],
    created (){
        document.title="Perfil";
    },
    data() {
        return {
            nombres: "",
            arrayProfesion: [],
            modal: 0,
            tituloModal: "",
            tipoAccion: 0,
            errorProfesion: 0,
            errorMostrarMsjProfesion: [],
            pagination: {
                total: 0,
                current_page: 0,
                per_page: 0,
                last_page: 0,
                from: 0,
                to: 0
            },
            offset: 3,
            criterio: "nombres",
            buscar: "",
            buttonslist: false
        };
    },
    computed: {
        isActived: function () {
            return this.pagination.current_page;
        },
        pagesNumber: function () {
            if (!this.pagination.to) {
                return [];
            }

            var from = this.pagination.current_page - this.offset;
            if (from < 1) {
                from = 1;
            }

            var to = from + this.offset * 2;
            if (to >= this.pagination.last_page) {
                to = this.pagination.last_page;
            }

            var pagesArray = [];
            while (from <= to) {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;
        }
    },
    methods: {

        getIngresos(){
            let me=this;
            let id = 1;
            var url=this.ruta + '/personal/detalle/'+id;
            console.log(url);
            // axios.get(url).then(function (response) {
            //     var respuesta= response.data;
            //     console.log("hola")
            //     console.log(respuesta.personal.nombres);
            //     me.nombres = respuesta.personal.nombres;
            //     //cargamos los datos del chart
            //     // me.loadIngresos();
            // })
            // .catch(function (error) {
            //     console.log(error);
            // });
        },

        listarProfesion(page, buscar, criterio) {
            let me = this;
            this.buttonslist = false;
            var url = '/profesion?page=' + page + '&buscar=' + buscar + '&criterio=' + criterio;

            axios
                .get(url)
                .then(function (response) {
                    var respuesta = response.data;
                    me.arrayProfesion = respuesta.profesiones.data;
                    me.pagination = respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        cambiarPagina(page, buscar, criterio) {
            let me = this;
            me.pagination.current_page = page;
            me.listarProfesion(page, buscar, criterio);
        },

        notification(sw) {
            toastr.options.progressBar = true;
            switch (sw) {
                case "1": {
                    iziToast.success({
                        title: "profesion",
                        message: "registrada Exitosamente",
                        position: "topRight"
                    });
                    break;
                }
                case "2": {
                    iziToast.info({
                        title: "profesion",
                        message: "modificado existosamente",
                        position: "topRight"
                    });
                    break;
                }
            }
        },

        registrarProfesion() {
            if (this.validarAfps()) {
                return;
            }

            let me = this;

            axios
                .post("/profesion/registrar", {
                    nombre: this.nombre,
                })
                .then(function (response) {
                    me.cerrarModal();
                    me.notification("1");
                    me.listarProfesion(1, "", "nombre");
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        actualizarProfesion() {
            if (this.validarAfps()) {
                return;
            }

            let me = this;

            axios
                .put("/profesion/actualizar", {
                    nombre: this.nombre,
                    id: this.profesion_id
                })
                .then(function (response) {
                    me.cerrarModal();
                    me.notification("2");
                    me.listarProfesion(1, "", "nombre");
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        activarProfesion(id) {
            swal({
                title: "activar el registro?",
                text: "Se procedera el registro",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si, Activar",
                cancelButtonText: "No, Cancelar!",
                reverseButtons: true
            }).then(result => {
                if (result.value) {
                    let me = this;

                    axios
                        .put("/profesion/activar", {
                            id: id
                        })
                        .then(function (response) {
                            me.listarProfesion(1, "", "nombre");
                            swal(
                                "Activado!",
                                "El registro ha sido activado con éxito.",
                                "success"
                            );
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else if (result.dismiss === swal.DismissReason.cancel) {
                    swal("Cancelado", "El registro aun esta activo", "error");
                }
            });
        },
        desactivarProfesion(id) {
            swal({
                title: "desactivar el registro?",
                text: "Se procedera a desactivar el registro",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si, Desactivar",
                cancelButtonText: "No, Cancelar!",
                reverseButtons: true
            }).then(result => {
                if (result.value) {
                    let me = this;

                    axios
                        .put("/profesion/desactivar", {
                            id: id
                        })
                        .then(function (response) {
                            me.listarProfesion(1, "", "name");
                            swal(
                                "Desactivado!",
                                "El registro ha sido desactivado con éxito.",
                                "success"
                            );
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else if (result.dismiss === swal.DismissReason.cancel) {
                    swal("Cancelado", "El registro aun esta activo", "error");
                }
            });
        },

        eliminarProfesion(id) {
            swal({
                title: "Desea Eliminar el registro?",
                text: "Se procedera a eliminar el registro",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si, Eliminar",
                cancelButtonText: "No, Cancelar!",
                reverseButtons: true
            }).then(result => {
                if (result.value) {
                    let me = this;

                    axios
                        .put("/profesion/eliminar", {
                            id: id
                        })
                        .then(function (response) {
                            me.listarProfesion(1, "", "name");
                            swal(
                                "Eliminado!",
                                "El registro ha sido eliminado con éxito.",
                                "success"
                            );
                        })
                        .catch(function (error) {
                            console.log(error);
                            swal("Advertencia", "El registro se encuentra asociado a otro registro, no se puede eliminar", "error");
                        });
                } else if (result.dismiss === swal.DismissReason.cancel) {
                    swal("Cancelado", "El registro aun esta activo", "error");
                }
            });
        },
        validarAfps() {
            this.errorProfesion = 0;
            this.errorMostrarMsjProfesion = [];

            if (!this.nombre)
                this.errorMostrarMsjProfesion.push(
                    "El nombre no puede estar vacío."
                );

            if (this.errorMostrarMsjProfesion.length) this.errorProfesion = 1;

            return this.errorProfesion;
        },
        cerrarModal() {
            this.buttonslist = false;
            this.modal = 0;
            this.tituloModal = "";
            this.nombre = "";
        },
        abrirModal(modelo, accion, data = []) {
            switch (modelo) {
                case "profesion": {
                    switch (accion) {
                        case "registrar": {
                            this.modal = 1;
                            this.tituloModal = "Registrar Profesion";
                            this.nombre = "";
                            this.tipoAccion = 1;
                            this.buttonslist = !this.buttonslist;
                            break;
                        }
                        case "actualizar": {
                            this.modal = 1;
                            this.tituloModal = "Actualizar Profesion";
                            this.tipoAccion = 2;
                            this.profesion_id = data["id"];
                            this.nombre = data["nombre"];
                            break;
                        }
                    }
                }
            }
        }
    },
    mounted() {
        this.listarProfesion(1, this.buscar, this.criterio);
        this.getIngresos();
    }
};
</script>
