<template>
    <div>
      <div class="page-title">
        <div class="row">
          <div class="col-sm-6">
              <h4 class="mb-0"> PANEL ADMINISTRATIVO RECURSOS HUMANOS</h4>
                <br>
                <div class="scrollbar max-h-600">
                 <div class="chats">
                   <div class="chat-wrapper clearfix">
                      <div class="chat-avatar">
                        <img class="img-fluid" src="images/asistente.gif" alt="">
                      </div>
                      <div class="chat-body p-3">
                         <p class="typewriter">
                             <strong>Jaime Flores,</strong>
                              Bienvenido al Sistema de RRHH del INSO ...</p>
                      </div>
                   </div>
                 </div>
                </div>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                <vue-clock />
            </ol>
          </div>
        </div>
      </div>
      <div class="col-xl-6 mb-30">
        <div class="card card-statistics h-100">
          <div class="card-body">
           <h5 class="card-title"> Tab Round shadow</h5>
            <div class="tab round shadow">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="home-08-tab" data-toggle="tab" href="#home-08" role="tab" aria-controls="home-08" aria-selected="true"> <i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-08-tab" data-toggle="tab" href="#profile-08" role="tab" aria-controls="profile-08" aria-selected="false"><i class="fa fa-user"></i> Profile </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="portfolio-08-tab" data-toggle="tab" href="#portfolio-08" role="tab" aria-controls="portfolio-08" aria-selected="false"><i class="fa fa-picture-o"></i> Portfolio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-08-tab" data-toggle="tab" href="#contact-08" role="tab" aria-controls="contact-08" aria-selected="false"><i class="fa fa-check-square-o"></i> Contact </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade active show" id="home-08" role="tabpanel" aria-labelledby="home-08-tab">
                  <p>The best way is to develop and follow a plan. Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan as detailed as possible. Try to visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes you closer to your Vision and Goals. If the plan doesn’t support the vision then change it!</p>
                </div>
                <div class="tab-pane fade" id="profile-08" role="tabpanel" aria-labelledby="profile-08-tab">
                  <p>We all carry a lot of baggage, thanks to our upbringing. The majority of people carry with them, an entire series of self-limiting beliefs that will absolutely stop, and hold them back from, success. Things like “I’m not good enough”, “I’m not smart enough”, “I’m not lucky enough”, and the worst, “I’m not worthy” are but a few of the self-limiting beliefs I have encountered. We carry them with us like rocks in a knapsack, and then use them to sabotage our success. So, how twisted is that? </p>
                </div>
                <div class="tab-pane fade" id="portfolio-08" role="tabpanel" aria-labelledby="portfolio-08-tab">
                  <p>Benjamin Franklin, inventor, statesman, writer, publisher and economist relates in his autobiography that early in his life he decided to focus on arriving at moral perfection. He made a list of 13 virtues, assigning a page to each. Under each virtue he wrote a summary that gave it fuller meaning. Then he practiced each one for a certain length of time. To make these virtues a habit, Franklin can up with a method to grade himself on his daily actions.</p>
                </div>
                <div class="tab-pane fade" id="contact-08" role="tabpanel" aria-labelledby="contact-08-tab">
                  <p>The other virtues practice in succession by Franklin were silence, order, resolution, frugality, industry, sincerity, Justice, moderation, cleanliness, tranquility, chastity and humility. For the summary order he followed a little scheme of employing his time each day. From five to seven each morning he spent in bodily personal attention, saying a short prayer, thinking over the day’s business and resolutions.</p>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div> 

    </div>
</template>

<script>
    import VueClock from '@dangvanthanh/vue-clock';

    export default {
    components: {
        VueClock,
    },

    name:'dashboard',
    created () {
        document.title = "Dashboard";
    },
    }
</script>
