<template>
    <div class="row">
      <div class="col-md-12 mb-30">
        <div class="card card-statistics h-100">
          <div class="card-body">
            <div class="d-block d-md-flex justify-content-between">
              <div class="d-block">
                <h5 class="card-title pb-0 border-0">Listado de Solicitudes</h5>

                <button type="button" class="btn btn-primary" v-if="buttonslist">ESPERANDO</button>
                <button type="button" class="btn btn-primary" @click="abrirModal('solicitudes','registrar')" v-else >AGREGAR</button>
                <!-- <button type="button" @click="cargarPdf()" :target="hrefTarget" class="btn btn-info"><i class="icon-doc"></i>&nbsp;REPORTE</button> -->
                <!-- <button type="button" @click="vacacionesPDF()" :target="hrefTarget" class="btn btn-info"><i class="icon-doc"></i>&nbsp;VACACIONES</button> -->

              </div>

              <div class="d-block d-md-flex clearfix">
                  <select class="custom-select szul" v-model="criterio">
                    <option value="name">Nombre</option>
                    <option value="description">Descripción</option>
                  </select>
                 <div class="widget-search ml-0 clearfix">
                  <input type="search" class="form-control" v-model="buscar" @keyup.enter="listarCategoria(1,buscar,criterio)" >
                  <button type="button" @click="listarCategoria(1,buscar,criterio)" class="btn btn-warning">
                    Buscar
                  </button>&nbsp;
                </div>
               </div>

             </div>
              <div class="table-responsive mt-20">
              <template v-if="arrayCategoria.length > 0">
              <table class="table table-striped table-bordered p-0">
                <thead class="alg">
                  <tr class="text-dark">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                  <tbody class="alg">
                    <tr v-for="(categoria,cont) in arrayCategoria" :key="categoria.id">
                      <td>{{ cont+1 }}</td>
                      <td v-text="categoria.name"></td>
                      <td v-text="categoria.description"></td>
                      <td>
                        <b v-if="categoria.status">
                          <i class="pr-2 fa fa-circle text-success"></i> Activo
                        </b>
                        <b v-else>
                          <i class="pr-2 fa fa-circle text-danger"></i> Inactivo
                        </b>
                      </td>
                      <td>

                        <button type="button" @click="abrirModal('categoria','actualizar',categoria)" class="btn btn-warning btn-sm" >
                          <i class="fa fa-pencil pr-1"></i>
                        </button> &nbsp;

                        <template v-if="categoria.status">
                          <button type="button" class="btn btn-info btn-sm" @click="desactivarCategoria(categoria.id)">
                            <i class="fa fa-eye pr-1"></i>
                          </button>
                        </template>

                        <template v-if="categoria.status">
                          <button type="button" class="btn btn-danger btn-sm" @click="eliminarCategoria(categoria.id)">
                            <i class="fa fa-trash pr-1"></i>
                          </button>
                        </template>

                        <template v-else>
                          <button
                            type="button"
                            class="btn btn-info btn-sm"
                            @click="activarCategoria(categoria.id)">

                            <i class="fa fa-tag pr-1"></i>
                          </button>
                        </template>

                      </td>
                    </tr>
                  </tbody>

              </table>
              </template>
              <template v-else>
                <div class="scrollbar max-h-600">
                 <div class="chats">
                   <div class="chat-wrapper clearfix">
                      <div class="chat-avatar">
                        <img class="img-fluid" src="images/asistente.gif" alt="">
                      </div>
                      <div class="chat-body p-3">
                         <p class="typewriter">Sin registros para mostrar porfavor agregue registros ...</p>
                      </div>
                   </div>

                 </div>
                </div>
            </template>

            <div class="row">
                <div class="col-xl-4 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="p-4 text-center bg" style="background: url(images/inso_fondo.png);">
                        <h5 class="mb-70 text-white position-relative">Vacaciones </h5>
                        </div>
                        <div class="card-body text-center position-relative">
                        <div class="avatar-top">
                            <img class="img-fluid w-25 rounded-circle " src="images/solicitudes/vacaciones.png" alt="">
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-4 mt-20">
                                <b>INSO</b>
                                <h4 class="text-success mt-10">0</h4>
                            </div>
                            <div class="col-6 col-sm-4 mt-20">
                                <b>rrhh </b>
                                <h4 class="text-danger mt-10">0</h4>
                            </div>
                            <div class="col-12 col-sm-4 mt-20">
                                <b>personal</b>
                                <h4 class="text-warning mt-10">0</h4>
                            </div>
                            </div>
                            <div class="divider mt-20"></div>
                            <p class="mt-20">SISTEMA DE RECURSOS HUMANOS</p>
                            <p class="mt-10">inso@mail.com</p>
                            <div class="social-icons color-icon mt-20">
                            <ul>
                                <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-github"><a href="#"><i class="fa fa-github"></i></a></li>
                                <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="p-4 text-center bg" style="background: url(images/inso_fondo.png);">
                        <h5 class="mb-70 text-white position-relative">Comisiones </h5>
                        </div>
                        <div class="card-body text-center position-relative">
                        <div class="avatar-top">
                            <img class="img-fluid w-25 rounded-circle " src="images/solicitudes/comisiones.png" alt="">
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-4 mt-20">
                                <b>INSO</b>
                                <h4 class="text-success mt-10">0</h4>
                            </div>
                            <div class="col-6 col-sm-4 mt-20">
                                <b>rrhh </b>
                                <h4 class="text-danger mt-10">0</h4>
                            </div>
                            <div class="col-12 col-sm-4 mt-20">
                                <b>personal</b>
                                <h4 class="text-warning mt-10">0</h4>
                            </div>
                            </div>
                            <div class="divider mt-20"></div>
                            <p class="mt-20">SISTEMA DE RECURSOS HUMANOS</p>
                            <p class="mt-10">inso@mail.com</p>
                            <div class="social-icons color-icon mt-20">
                            <ul>
                                <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-github"><a href="#"><i class="fa fa-github"></i></a></li>
                                <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-xl-4 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="p-4 text-center bg" style="background: url(images/solicitudes/inso_fondo.png);">
                        <h5 class="mb-70 text-white position-relative">Michael Bean </h5>
                        </div>
                        <div class="card-body text-center position-relative">
                        <div class="avatar-top">
                            <img class="img-fluid w-25 rounded-circle " src="images/team/13.jpg" alt="">
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-4 mt-20">
                                <b>Files Saved</b>
                                <h4 class="text-success mt-10">1582</h4>
                            </div>
                            <div class="col-6 col-sm-4 mt-20">
                                <b>Memory Used </b>
                                <h4 class="text-danger mt-10">58GB</h4>
                            </div>
                            <div class="col-12 col-sm-4 mt-20">
                                <b>Spent Money</b>
                                <h4 class="text-warning mt-10">352,6$</h4>
                            </div>
                            </div>
                            <div class="divider mt-20"></div>
                            <p class="mt-20">17504 Carlton Cuevas Rd, Gulfport, MS, 39503</p>
                            <p class="mt-10">michael@webmin.com</p>
                            <div class="social-icons color-icon mt-20">
                            <ul>
                                <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-github"><a href="#"><i class="fa fa-github"></i></a></li>
                                <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div> -->


                <!-- <div class="col-xl-4 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="p-4 text-center bg" style="background: url(images/solicitudes/inso_fondo.png);">
                        <h5 class="mb-70 text-white position-relative">Michael Bean </h5>
                        </div>
                        <div class="card-body text-center position-relative">
                        <div class="avatar-top">
                            <img class="img-fluid w-25 rounded-circle " src="images/team/13.jpg" alt="">
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-4 mt-20">
                                <b>Files Saved</b>
                                <h4 class="text-success mt-10">1582</h4>
                            </div>
                            <div class="col-6 col-sm-4 mt-20">
                                <b>Memory Used </b>
                                <h4 class="text-danger mt-10">58GB</h4>
                            </div>
                            <div class="col-12 col-sm-4 mt-20">
                                <b>Spent Money</b>
                                <h4 class="text-warning mt-10">352,6$</h4>
                            </div>
                            </div>
                            <div class="divider mt-20"></div>
                            <p class="mt-20">17504 Carlton Cuevas Rd, Gulfport, MS, 39503</p>
                            <p class="mt-10">michael@webmin.com</p>
                            <div class="social-icons color-icon mt-20">
                            <ul>
                                <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-github"><a href="#"><i class="fa fa-github"></i></a></li>
                                <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

            </div>
            <div class="sm-mt-20">
                <nav aria-label="Page navigation example">
                 <ul class="pagination justify-content-center">
                    <li class="page-item " v-if="pagination.current_page > 1">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant.</a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                      <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig.</a>
                    </li>
                  </ul>
                </nav>
            </div>
            </div>
        </div>
      </div>

      <!--Inicio del modal agregar/actualizar-->
      <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title" v-text="tituloModal"></h4>
              <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">

            <div class="col-xl-12 mb-50">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                    <div class="repeater-file">
                        <div data-repeater-list="group-a">

                        <div class="form-group col-md-12">
                            <label for="text-input">*SELECCIONAR FORMULARIO (*)</label>
                            <select class="custom-select mr-sm-2 szul" v-model="seleccionFormulario">
                                <option value="0" disabled>Seleccione</option>
                                <option value="dosHoras">FORMULARIO DE 2 HORAS</option>
                                <option value="caja">FORMULARIO PARA CAJA</option>
                                <option value="vacaciones">FORMULARIO DE VACACIONES</option>
                                <option value="comisiones">FORMULARIO DE COMISION</option>
                            </select>
                        </div>

                        <form action method="post" enctype="multipart/form-data" class="form-horizontal" v-if="seleccionFormulario === 'dosHoras'">

                            <div class="form-row">

                                    <div class="scrollbar max-h-600">
                                        <div class="chats">
                                        <div class="chat-wrapper clearfix">
                                            <div class="chat-avatar">
                                                <img class="img-fluid" src="images/asistente.gif" alt="">
                                            </div>
                                            <div class="chat-body p-3">
                                                <p class="typewriter">VAMOS A REGISTRAR 2 HORAS ...</p>
                                            </div>
                                        </div>

                                        </div>
                                    </div><br>

                                    <!-- <input id="prodId" name="prodId" type="hidden" value="horas"> -->

                                    <input type="input" v-model-value="razon" class="form-control" style="display:none">


                                    <div class="form-group col-md-6">
                                        <label for="text-input">Personal (*)</label>
                                            <select class="custom-select mr-sm-2 szul" v-model="id_personal">
                                                <option value="0" disabled>Seleccione</option>
                                                <option v-for="personal in arrayPersonal" :key="personal.id" :value="personal.id" v-text="`${personal.nombres} ${personal.paterno} ${personal.materno}`"></option>
                                            </select>
                                    </div>

                                <div class="form-group col-md-6">
                                <label for="text-input">Cantidad de Horas (*) {{ _h_personal }}</label>
                                    <select class="custom-select mr-sm-2 szul" v-model="horas">
                                        <option value="0" disabled>Seleccione</option>
                                        <option value="1">1 HORA</option>
                                        <option value="2">2 HORAS</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                <label for="text-input">Descripción</label>
                                        <input
                                        type="text"
                                        v-model="descripcion"
                                        class="form-control"
                                        placeholder="Descripción"
                                        >
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @click="cerrarModal()">CERRAR</button>
                                <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarHoras()">REGISTRAR HORAS</button>
                                <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarHoras()" >ACTUALIZAR</button>
                                </div>
                            </div>
                        </form>

                        <form action method="post" enctype="multipart/form-data" class="form-horizontal" v-if="seleccionFormulario === 'vacaciones'">
                            <div class="form-row">

                                    <div class="scrollbar max-h-600">
                                        <div class="chats">
                                        <div class="chat-wrapper clearfix">
                                            <div class="chat-avatar">
                                                <img class="img-fluid" src="images/asistente.gif" alt="">
                                            </div>
                                            <div class="chat-body p-3">
                                                <p class="typewriter">VAMOS A REGISTRAR VACACIONES ...</p>
                                            </div>
                                        </div>

                                        </div>
                                    </div><br> <br>

                                    <input type="hidden" v-model="razon" class="form-control" value="Vacaciones">

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Personal (*)</label>
                                            <select class="custom-select mr-sm-2 szul" v-model="id_personal">
                                                <option value="0" disabled>Seleccione</option>
                                                <option v-for="personal in arrayPersonal" :key="personal.id" :value="personal.id" v-text="`${personal.nombres} ${personal.paterno} ${personal.materno}`"></option>
                                            </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Fecha inicio (*)</label>
                                        <input
                                        type="date"
                                        id="fecha_inicio"
                                        class="form-control"
                                        v-model="fecha_inicio"
                                        >
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Fecha Fin (*)</label>
                                        <input
                                        type="date"
                                        id="fecha_finalizacion"
                                        class="form-control"
                                        v-model="fecha_finalizacion"
                                        >
                                    </div>

                                <div class="form-group col-md-12">
                                <label for="text-input">Descripción</label>
                                        <input
                                        type="text"
                                        v-model="descripcion"
                                        class="form-control"
                                        placeholder="Descripción"
                                        >
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @click="cerrarModal()">CERRAR</button>

                                <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarVacaciones()">REGISTRAR VACACIONES</button>
                                <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarHoras()" >ACTUALIZAR</button>
                                </div>
                            </div>
                        </form>


                        <form action method="post" enctype="multipart/form-data" class="form-horizontal" v-if="seleccionFormulario === 'comisiones'">
                            <div class="form-row">

                                    <div class="scrollbar max-h-600">
                                        <div class="chats">
                                        <div class="chat-wrapper clearfix">
                                            <div class="chat-avatar">
                                                <img class="img-fluid" src="images/asistente.gif" alt="">
                                            </div>
                                            <div class="chat-body p-3">
                                                <p class="typewriter">VAMOS A REGISTRAR SU COMISIÓN ...</p>
                                            </div>
                                        </div>

                                        </div>
                                    </div><br>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Fecha (*)</label>
                                        <input
                                        type="date"
                                        id="fecha"
                                        class="form-control"
                                        v-model="fecha"
                                        >
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="text-input">Personal (*)</label>
                                            <select class="custom-select mr-sm-2 szul" v-model="id_personal">
                                                <option value="0" disabled>Seleccione</option>
                                                <option v-for="personal in arrayPersonal" :key="personal.id" :value="personal.id" v-text="`${personal.nombres} ${personal.paterno} ${personal.materno}`"></option>
                                            </select>
                                    </div>


                                <div class="form-group">
                                <label for="text-input">Descripción</label>
                                        <input
                                        type="text"
                                        v-model="descripcion"
                                        class="form-control"
                                        placeholder="Descripción"
                                        >
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @click="cerrarModal()">CERRAR</button>
                                <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarCargo()">GUARDAR COMISIÓN</button>
                                <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarCargo()" >ACTUALIZAR</button>
                                </div>
                            </div>
                        </form>

                        </div>

                    </div>
                </div>
                </div>
            </div>

            </div>
          </div>
        </div>
      </div>
      <!--Fin del modal agregar/actualizar-->
  </div>

</template>

<script>

    import VueTimepicker from 'vue2-timepicker';
    import Fullcalendar from "@fullcalendar/vue";
    import dayGridPlugin from "@fullcalendar/daygrid";
    import interactionPlugin from "@fullcalendar/interaction";
    import Calendar from 'v-calendar/lib/components/calendar.umd';
    import DatePicker from 'v-calendar/lib/components/date-picker.umd';

export default {
  props: ['ruta'],
    components: {
        VueTimepicker,
        Fullcalendar,
        Calendar,
        DatePicker
    },

  data() {
    return {
      selectedDate: null,
      calendarPlugins: [dayGridPlugin, interactionPlugin],
      componentPrefix: 'vc',  // Use <vc-calendar /> instead of <v-calendar />
      name: "",
      descripcion: "",
      horas:0,
      _h_personal:0,
      fecha_inicio:"",
      fecha_finalizacion:"",
      fecha:"",
      razon:"Horas",
      id_personal:"",
      id_profesion:"",
      arrayCategoria: [],
      arrayPersonal:[],
      arrayProfesion:[],
      seleccionFormulario:"",
      modal: 0,
      tituloModal: "",
      tipoAccion: 0,
      errorCategoria: 0,
      errorMostrarMsjCategoria: [],
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0
      },
      offset: 3,
      criterio: "name",
      buscar: "",
      buttonslist: false
    };
  },
  computed: {
    isActived: function() {
      return this.pagination.current_page;
    },

    hrefTarget () {
        return (this.enabled ? "_blank" : "_self")
    },
    pagesNumber: function() {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },
  methods: {
    listarCategoria(page,buscar,criterio) {
      let me = this;
      this.buttonslist = false;
      var url='/categoria?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;

      axios
        .get(url)
        .then(function(response) {
          var respuesta= response.data;
          me.arrayCategoria = respuesta.categories.data;
          me.pagination= respuesta.pagination;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cargarPdf(){
        window.open('/categoria/listarPdf','_blank');
    },

    vacacionesPDF(){
        window.open('/vacaciones/vacacionesPdf','_blank')
    },

    cambiarPagina(page,buscar,criterio){
        let me = this;
        me.pagination.current_page = page;
        me.listarCategoria(page,buscar,criterio);
    },

    notification(sw) {
      toastr.options.progressBar = true;
      switch (sw) {
        case "1": {
          iziToast.success({
            title: "Categoria",
            message: "registrada Exitosamente",
            position: "topRight"
          });
          break;
        }
        case "2": {
          iziToast.info({
            title: "Categoria",
            message: "modificado existosamente",
            position: "topRight"
          });
          break;
        }
      }
    },

    registrarHoras() {
    //   if (this.validarCategoria()) {
    //     return;
    //   }

    console.log("para registro");

      let me = this;

      axios
        .post("/horas/registrar", {
          razon: "Horas",
          id_personal: this.id_personal,
          horas: this.horas,
          description: this.description
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("1");
        //   me.listarCategoria(1, "", "id_personal");
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    registrarHoras() {

    console.log("para registro COMISION");

      let me = this;

      axios
        .post("/horas/registrar", {
          razon: this.razon,
          id_personal: this.id_personal,
          horas: this.horas,
          description: this.description
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("1");
        //   me.listarCategoria(1, "", "id_personal");
        })
        .catch(function(error) {
          console.log(error);
        });
    },


    registrarVacaciones() {
    //   if (this.validarCategoria()) {
    //     return;
    //   }

    console.log("para registro VACACIONES");

      let me = this;

      axios
        .post("/vacaciones/registrar", {
          id_personal: this.id_personal,
          fecha_inicio: this.fecha_inicio,
          fecha_finalizacion: this.fecha_finalizacion,
          description: this.description
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("1");
        //   me.listarCategoria(1, "", "id_personal");
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    selectPersonal(){
        let me=this;
        var url= this.ruta + '/personal/selectPersonal';
        axios.get('/personal/selectPersonal').then(function (response) {
        console.log("Response data "+ response.data);
            var respuesta= response.data;
            me.arrayPersonal = respuesta.personal;
            me.h_personal = respuesta.h_personal;
        })
        .catch(function (error) {
            console.log(error);
        });
    },

    actualizarCategoria() {
      if (this.validarCategoria()) {
        return;
      }

      let me = this;

      axios
        .put("/categoria/actualizar", {
          name: this.name,
          description: this.description,
          id: this.categoria_id
        })
        .then(function(response) {
          me.cerrarModal();
          me.notification("2");
          me.listarCategoria(1, "", "name");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    activarCategoria(id) {
      swal({
        title: "activar el registro?",
        text: "Se procedera a activar la categoria",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Activar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/categoria/activar", {
              id: id
            })
            .then(function(response) {
              me.listarCategoria(1, "", "name");
              swal(
                "Activado!",
                "El registro ha sido activado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "La categoria aun esta activa", "error");
        }
      });
    },
    desactivarCategoria(id) {
      swal({
        title: "desactivar el registro?",
        text: "Se procedera a desactivar la categoria",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Desactivar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/categoria/desactivar", {
              id: id
            })
            .then(function(response) {
              me.listarCategoria(1, "", "name");
              swal(
                "Desactivado!",
                "El registro ha sido desactivado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "La categoria aun esta activa", "error");
        }
      });
    },

    eliminarCategoria(id) {
      swal({
        title: "Desea Eliminar el registro?",
        text: "Se procedera a eliminar la categoria",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Eliminar",
        cancelButtonText: "No, Cancelar!",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;

          axios
            .put("/categoria/eliminar", {
              id: id
            })
            .then(function(response) {
              me.listarCategoria(1, "", "name");
              swal(
                "Eliminado!",
                "El registro ha sido eliminado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
              swal("Advertencia", "El registro se encuentra asociado a otro registro, no se puede eliminar", "error");
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
          swal("Cancelado", "La categoria aun esta activa", "error");
        }
      });
    },
    validarCategoria() {
      this.errorCategoria = 0;
      this.errorMostrarMsjCategoria = [];

      if (!this.name)
        this.errorMostrarMsjCategoria.push(
          "El nombre de la categoría no puede estar vacío."
        );
      if (!this.description)
        this.errorMostrarMsjCategoria.push(
          "La descripción de la categoría no puede estar vacío."
        );

      if (this.errorMostrarMsjCategoria.length) this.errorCategoria = 1;

      return this.errorCategoria;
    },
    cerrarModal() {
      this.buttonslist = false;
      this.modal = 0;
      this.tituloModal = "";
      this.name = "";
      this.description = "";
    },
    abrirModal(modelo, accion, data = []) {
      switch (modelo) {
        case "solicitudes": {
          switch (accion) {
            case "registrar": {
              this.modal = 1;
              this.id_personal = 0;
              this.razon="";
              this.horas = 0;
              this.tituloModal = "Registro de Solicitudes";
            //   this.name = "";
              this.fecha = "";
              this.descripcion = "";
              this.tipoAccion = 1;
              this.buttonslist = !this.buttonslist;
              break;
            }
            case "actualizar": {
              this.modal = 1;
              this.tituloModal = "Actualizar Solicitud";
              this.tipoAccion = 2;
              this.categoria_id = data["id"];
              this.name = data["name"];
              this.description = data["description"];
              break;
            }
          }
        }
      }
        this.selectPersonal();
    }
  },
  mounted() {
    this.listarCategoria(1, this.buscar, this.criterio);
        var url='/horas';
        axios
        .get(url)
        .then(response => (
            this._h_personal = response.data.h_personal
        ));
  }
};
</script>


<style lang="css">
    @import '~vue2-timepicker/dist/VueTimepicker.css';

    @import "~@fullcalendar/core/main.css";
    @import "~@fullcalendar/daygrid/main.css";

    .fc-title {
    color: #fff;
    }
    .fc-title:hover {
    cursor: pointer;
    }
</style>
